<div class="col-md-6 col-sm-6 col-xl-4x">
  <article class="post-slider post-minimal">
    <div class="entry-video embed-responsive embed-responsive-16by9">
      <iframe width="886" height="668" src="//www.youtube.com/embed/ccuQoF0vKYU" allowfullscreen=""></iframe>
    </div>
    <div class="post-classic-title">
      <h6><a href="video-post.html">Space Saving Ideas For Your Home</a></h6>
    </div>
    <div class="post-meta">
      <div class="group"><a href="video-post.html">
        <time datetime="2017">Jan.20, 2017</time>
      </a><a class="meta-author" href="video-post.html">by Brian Williamson</a></div>
    </div>
    <div class="post-classic-body">
      <p>Fluor Corp., The Walsh Group, and Hensel Phelps top Building Design+Construction’s annual ranking of
        the
        nation’s largest military sector construction and construction management firms, as reported in the
        2017
        Giants 300 Report.</p>
    </div>
    <div class="post-minimal-footer">
      <ul class="list-inline-sm">
        <li><a class="icon-xxs fa-facebook novi-icon icon" href="#"></a></li>
        <li><a class="icon-xxs fa-twitter novi-icon icon" href="#"></a></li>
        <li><a class="icon-xxs fa-google-plus novi-icon icon" href="#"></a></li>
        <li><a class="icon-xxs fa-vimeo novi-icon icon" href="#"></a></li>
        <li><a class="icon-xxs fa-youtube novi-icon icon" href="#"></a></li>
        <li><a class="icon-xxs fa-pinterest-p novi-icon icon" href="#"></a></li>
      </ul>
      <a class="button button-link" href="video-post.html">View now!</a>
    </div>
  </article>
</div>