<div class="col-lg-4">
  <div class="row">
    <div class=" col-xl-12">
      <!-- Post Link-->
      <article class="post-link">
        <div class="post-classic-title">
          <h6><a href="link-post.html">The Best Ceiling Colours</a></h6>
        </div>
        <a href="link-post.html">http://templatemonster.com/</a>
      </article>
    </div>
    <div class="col-xl-12">
      <!-- Post quote-->
      <article class="post-quote post-minimal"><a href="quote-post.html">
        <!-- Quote centered-->
        <div class="quote-centered">
          <svg class="quote-centered__mark" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30.234px" height="23.484px" viewbox="0 0 30.234 23.484" xml:space="preserve">
            <g>
              <path d="M12.129,0v1.723c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959              c0,0.445,0.07,0.773,0.211,0.984c0.093,0.141,0.199,0.211,0.316,0.211c0.117,0,0.293-0.082,0.527-0.246              c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.519,0.545,3.551,1.635c1.031,1.09,1.547,2.385,1.547,3.885              c0,1.57-0.592,2.953-1.775,4.148c-1.184,1.195-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426              C0.715,19.441,0,17.274,0,14.555c0-3.164,0.972-6,2.918-8.508C4.863,3.539,7.933,1.524,12.129,0z M29.039,0v1.723              c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959c0,0.445,0.07,0.773,0.211,0.984              c0.094,0.141,0.199,0.211,0.316,0.211s0.293-0.082,0.527-0.246c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.52,0.545,3.551,1.635              s1.547,2.385,1.547,3.885c0,1.57-0.592,2.953-1.775,4.148s-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426              s-2.145-3.785-2.145-6.504c0-3.164,0.973-6,2.918-8.508C21.773,3.539,24.844,1.524,29.039,0z"></path>
            </g>
          </svg>
          <div class="quote-centered__text">
            <p class="heading-6">7 Ways to Add a Custom Look to Your Home</p>
          </div>
          <p class="quote-centered__cite">Adam Smith</p>
        </div>
      </a></article>
    </div>
    <div class="col-xl-12">
      <!-- Post standard-->
      <article class="post-classic post-minimal">
        <div class="post-classic-title">
          <h6><a href="standard-post.html">5 Tips To Add Colour To Your Family Room</a></h6>
        </div>
        <div class="post-meta">
          <div class="group"><a href="standard-post.html">
            <time datetime="2017">Jan.20, 2017</time>
          </a><a class="meta-author" href="standard-post.html">by Brian Williamson</a></div>
        </div>
        <div class="post-classic-body">
          <p>This project turned out to be exciting from the very beginning… To start with its complexity, besides
            designing a regular…</p>
        </div>
      </article>
    </div>
    <div class="col-xl-12">
      <!-- Post classic-->
      <article class="post-minimal"><img src="images/blog-image-3-415x315.jpg" alt="" width="415" height="315"/>
        <div class="post-classic-title">
          <h6><a href="image-post.html">How To Create A Space You Will Love</a></h6>
        </div>
        <div class="post-meta">
          <div class="group-xs"><a href="image-post.html">
            <time datetime="2017">Jan.20, 2017</time>
          </a><a class="meta-author" href="image-post.html">by Brian Williamson</a><a href="image-post.html">3
            comment(s)</a>
            <ul class="list-inline-tag">
              <li><a href="image-post.html">Industry News</a></li>
            </ul>
          </div>
        </div>
        <div class="post-classic-body">
          <p>Newest development in the CA state legislature made it obligatory to add a solar panel or two atop of
            any…</p>
        </div>
      </article>
    </div>
    <div class="col-xl-12">
      <!-- Post audio-->
      <article class="post-audio post-minimal">
        <!-- RD Audio-->
        <div class="post-audio">
          <!-- RD Audio-->
          <div class="rd-audio-wrap rd-audio-dark rd-audio-horizontal">
            <div class="rd-audio" data-rd-audio-playlist-name="rd-playlist01" data-rd-volume-bar-type="horizontal">
              <div class="rd-audio-controls text-center">
                <div class="rd-audio-controls-left">
                  <!-- Play\Pause button--><a class="rd-audio-play-pause fa fa-play rd-audio-icon has-controls" href="#"></a>
                </div>
                <div class="rd-audio-progress-bar-wrap">
                  <!-- Time-->
                  <div class="rd-audio-time">
                    <!-- currentTime--><span class="rd-audio-current-time">00:00</span>
                  </div>
                  <!-- Progress bar-->
                  <div class="rd-audio-progress-bar"></div>
                </div>
                <!-- Volume button--><a class="rd-audio-volume fa fa-volume-up rd-audio-icon" href="#"></a>
                <!-- Volume bar-->
                <div class="rd-audio-volume-bar"></div>
                <div class="rd-audio-controls-righ d-none">
                  <!-- Playlist button--><a class="rd-audio-playlist-button rd-audio-icon mdi mdi-dots-horizontal" href="#"></a>
                </div>
              </div>
              <div class="rd-audio-playlist-wrap">
                <h6 class="rd-audio-playlist-title">Playlist</h6>
                <ul class="rd-audio-playlist" data-rd-audio-playlist="rd-playlist01" data-rd-audio-play-on="li">
                  <li data-rd-audio-src="audio/sound.mp3"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="post-classic-title">
          <h6><a href="audio-post.html">Five Tips To Designing The Perfect Nursery</a></h6>
        </div>
        <div class="post-classic-body">
          <p>Delaware proved to be a very friendly place to work at… While invited there for completing a
            mid-sized
            warehouse for…</p>
        </div>
        <div class="post-minimal-footer">
          <div class="post-meta">
            <div class="group"><a href="audio-post.html">
              <time datetime="2017">Jan.20, 2017</time>
            </a><a class="meta-author" href="audio-post.html">by Brian Williamson</a></div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>