<div class="col-md-6 col-sm-6 col-xl-4x">
  <article class="post-slider post-minimal">
    <!-- Owl Carousel-->
    <div class="owl-carousel carousel-post-gallery carousel-slider-blog-post" data-items="1" data-stage-padding="0" data-loop="false" data-margin="10px" data-mouse-drag="false" data-nav="true" data-dots="true" data-photo-swipe-gallery="gallery">
      <div class="item">
        <a class="img-thumbnail-variant-1" href="images/project-category-1-original-1200x800.jpg" data-photo-swipe-item="" data-size="1200x800">
          <figure>
            <img src="images/project-category-1-original-1200x800.jpg" alt="" width="1200" height="800"/>
          </figure>
          <div class="caption"><span class="icon icon-lg linear-icon-magnifier"></span></div>
        </a>
      </div>
      <div class="item">
        <a class="img-thumbnail-variant-1" href="images/project-category-2-original-1200x800.jpg" data-photo-swipe-item="" data-size="1200x800">
          <figure>
            <img src="images/project-category-2-original-1200x800.jpg" alt="" width="1200" height="800"/>
          </figure>
          <div class="caption"><span class="icon icon-lg linear-icon-magnifier"></span></div>
        </a>
      </div>
      <div class="item">
        <a class="img-thumbnail-variant-1" href="images/project-category-3-original-1200x800.jpg" data-photo-swipe-item="" data-size="1200x800">
          <figure>
            <img src="images/project-category-3-original-1200x800.jpg" alt="" width="1200" height="800"/>
          </figure>
          <div class="caption"><span class="icon icon-lg linear-icon-magnifier"></span></div>
        </a>
      </div>
    </div>
    <div class="post-classic-title">
      <h6><a href="gallery-post.html">How to Improve Your Lighting at Home</a></h6>
    </div>
    <div class="post-meta">
      <div class="group"><a href="gallery-post.html">
        <time datetime="2017">Jan.20, 2017</time>
      </a><a class="meta-author" href="gallery-post.html">by Brian Williamson</a></div>
    </div>
    <div class="post-classic-body">
      <p>By improving the physical layout of hospitals and medical facilities, we can enhance and increase
        safety
        mechanisms, improve care, and…</p>
    </div>
  </article>
</div>