<section class="section-sm">
  <h5>Related Posts</h5>
  <div class="row row-60">
    <div class="col-md-6">
      <!-- Post classic-->
      <article class="post-minimal"><img src="images/blog-image-4-415x315.jpg" alt="" width="415" height="315"/>
        <div class="post-classic-title">
          <h6><a href="image-post.html">How to Improve Your Lighting at Home</a></h6>
        </div>
        <div class="post-meta">
          <div class="group-xs"><a href="image-post.html">
            <time datetime="2017">Jan.20, 2017</time>
          </a><a class="meta-author" href="image-post.html">by Brian Williamson</a><a href="image-post.html">3
            comment(s)</a>
            <ul class="list-inline-tag">
              <li><a href="image-post.html">Industry News</a></li>
            </ul>
          </div>
        </div>
      </article>
    </div>
    <div class="col-md-6">
      <!-- Post classic-->
      <article class="post-minimal"><img src="images/blog-image-3-415x315.jpg" alt="" width="415" height="315"/>
        <div class="post-classic-title">
          <h6><a href="image-post.html">The Best Ceiling Colours</a></h6>
        </div>
        <div class="post-meta">
          <div class="group-xs"><a href="image-post.html">
            <time datetime="2017">Jan.20, 2017</time>
          </a><a class="meta-author" href="image-post.html">by Brian Williamson</a><a href="image-post.html">3
            comment(s)</a>
            <ul class="list-inline-tag">
              <li><a href="image-post.html">Industry News</a></li>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>