.block-image-stage {
  width: 140px;
  height: 140px;
  background: #fff;
  border-radius: 50%;
  box-shadow: -1px 3px 6px #838181;
  padding: 30px;
  position: relative;
  cursor: pointer;
  transition: all 0.45s;
}

.block-image-stage::before {
  content: '';
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  width: 130px;
  height: 130px;
  border: 1px solid #113448;
  border-radius: 50%;
}

.block-image-stage img, .block-image-stage svg {
  max-width: 70px;
  height: 81px;
  margin: 0px auto;
  display: block;
}
.size-block-career {
  width: 100px !important;
  height: 100px !important;
  margin: 0 auto !important
}

.size-block-career-top {
  width: 120px !important;
  height: 120px !important;
  margin: 0 auto !important
}

.size-block-career:before {
  width: 90px !important;
  height: 90px !important
}

.size-block-career-top:before {
  width: 110px !important;
  height: 110px !important
}
.we-hire-block-image .block-image-stage, .dedicated-development-team-new .col-picture .block-image-stage {
  padding: 20px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .2), 0px 2px 4px rgba(0, 0, 0, .25)
}

.we-hire-block-image .block-image-stage img, .we-hire-block-image .block-image-stage svg, .dedicated-development-team-new .col-picture .block-image-stage svg {
  width: 40px;
  height: 40px;
  margin: 10px auto
}

.we-hire-block-image .size-block-career-top img, .we-hire-block-image .size-block-career-top svg {
  width: auto;
  max-width: 60px;
  height: 48px;
  margin: 16px auto
}
