
/* start screen 1200 */

@media screen and (max-width: 1200px){


  .home-how-we-work .block-work {
    margin-top: 40px;
    float: left;
    width: 100%;
    margin-bottom: 40px
  }

  .quote {
    padding: 80px 0
  }

  .exp-our-serv-block-wrapper {
    width: 32.8%
  }

  .exp-our-serv-block-text {
    font-size: 17px
  }

  .exp-our-serv-block-text ul li {
    padding: 6px 0
  }

  .custom p, .custom div, .custom .text-service p, .custom span {
    font-size: 20px !important;
  }

  .main-services > div {
    padding-right: 30px;
    padding-left: 0
  }

  .main-services > div:last-of-type {
    padding-right: 0;
    padding-left: 0
  }
  .main-services > div h4 {
    font-size: 24px
  }
  /* Header */
  .header .header-content {
    padding-top: 14.75rem;
    padding-bottom: 17.5rem;
  }
  /* end of header */
}
/* end screen 1200 */




/* start screen 1000 */

@media screen and (max-width: 1000px){
  .new-service-content .service-tab:nth-child(2), .custom-software-dev .service-tab:nth-child(2), .software-product-dev .service-tab:nth-child(2), .it-consulting-services .service-tab:nth-child(2), .dedicated-development-team .service-tab:nth-child(2) {
    margin-bottom: 30px
  }
  .new-service-content .main-services > div .img-service, .custom-software-dev > div .img-service, .software-product-dev > div .img-service, .it-consulting-services > div .img-service, .dedicated-development-team > div .img-service {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ce152f;
    margin-top: 10px
  }

  .new-service-content .contact-link {
    padding-left: 0;
    margin-top: 30px
  }


}
/* end screen 1000 */




/* start screen 1024 */
@media (max-width: 1024px){

  .web-develop-text-block {
    margin-top: 40px !important
  }

  .desktop-soft-col-md-6 {
    padding: 0 5px 70px 10px;
    display: inline-block
  }

  .desktop-soft-my-text-blue-block {
    padding: 0 40px 0 0
  }

  .desktop-soft-my-text-purple-block {
    padding: 0 35px 0 0
  }
  .blockchain-row {
    padding-top: 50px !important
  }
}
/* end screen 1024 */





/* start screen 992 */
@media (max-width: 992px){


  .title-post {
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 12px
  }

  .desc-post {
    font-size: 14px
  }


  .send-mail-mobile {
    display: block !important
  }

  .stage > div {
    width: 100%
  }

  .stage:nth-child(2n+1) > div {
    padding-right: 0
  }

  .stage:nth-child(2n) > div {
    padding-left: 0
  }

  .stage > div:before {
    display: none
  }

  .stage:nth-child(2n+1) > div > div .block-image-stage {
    margin-right: 0
  }

  .stage:nth-child(2n+1) > div > div .block-image-stage {
    margin-right: 0
  }

  .stage:nth-child(2n) > div > div .block-image-stage {
    margin-left: 0
  }

  .send-mail:before {
    display: none
  }

  .send-mail.send-mail-mobile {
    display: none
  }

  .send-mail {
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: 20px;
    right: 0;
    float: right
  }

  .stage:nth-child(1):hover .send-mail {
    right: 0
  }
  .free-evaluation .title-block-evaluation {
    line-height: 38px;
    font-size: 30px;
    margin-bottom: 15px
  }

  .our_customers .quote-text {
    width: 100%
  }

  .quote {
    padding: 50px 0
  }

  .quote.our_customers {
    padding: 0
  }

  .quote-text {
    font-size: 18px
  }

  .home-technology {
    margin: 10px 0 30px
  }

  .home-technology h2 {
    font-size: 30px
  }
  .explore-our-services-block-wrapper .container {
    padding: 0 15px
  }


  .exp-our-serv-block-text {
    font-size: 16px
  }

  .exp-our-serv-block-text ul li {
    padding: 4px 0
  }

  .exp-our-serv-block-title {
    font-size: 20px
  }

  .btn-exp-our-serv-learn-more-wrapper {
    font-size: 20px
  }

  /* Header */
  .header .header-content {
    padding-top: 14rem;
    padding-bottom: 15rem;
  }

  .header .text-container {
    margin-top: 6.5rem;
  }
  /* end of header */


  .toplink li a {
    font-size: 16px
  }
  .custom p, .custom div, .custom .text-service p, .custom span {
    font-size: 18px !important

  }
  .content-page {
    margin: 20px 0 30px;
    padding-top: 20px;
    font-size: 20px;
    line-height: 28px
  }

  .desktop-soft-col-md-6 {
    width: 49%
  }

  .min-980-padding-20 {
    padding: 20px
  }

  .service {
    margin-bottom: 20px
  }
  .service h3 {
    font-size: 23px;
    margin-bottom: 30px
  }

  .service-col-size {
    width: 25%
  }

  .block-image-stage {
    width: 100px;
    height: 100px;
    padding: 15px
  }
  .block-image-stage:before {
    width: 90px;
    height: 90px
  }

  .block-image-stage img, .block-image-stage svg {
    max-width: 45px;
    height: 45px;
    margin: 10px auto
  }

  .main-services > div {
    width: 50%;
    min-height: 410px
  }

  .main-services > div .img-service {
    margin-bottom: 30px
  }

  .main-services > div h4 {
    height: 55px
  }
  .contact-link {
    margin-top: 20px
  }
  .software-dev-project-right-content, .software-dev-project-left-content {
    float: none !important
  }

}
/* end screen 992 */




/* start screen 800 */
@media (min-width: 800px) {
  .service-col-size {
    width: 25%;
  }
}
/* end screen 800 */

/* start screen 415 */
@media (min-width: 415px) {
  .purple-container {
    align-content: center;
  }
}



/* start screen 780 */
@media (min-width: 780px) {


  .custom p, .custom div, .custom .text-service p, .custom span {
    font-size: 16px
  }


  .home-technology.new-home-page-technology .block-image-stage {
    width: 115px;
    height: 115px
  }

  .purple-container {
    margin: 40px 0
  }
  .custom-software-content {
    padding: 0 15px
  }
  .owl-net-development-container, .custom .custom-software-content {
    padding: 0 15px
  }

  .main-services > div {
    width: 50%;
    min-height: 440px;
    float: left;
    padding: 0 10px
  }
  .how_we_work_page .container {
    padding: 0 15px
  }

  .paddingServices {
    padding: 0
  }

  .row-blue-list {
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 30px
  }

  .blue-list {
    margin: auto;
    margin-top: -60px;
    padding-left: 40px
  }

  .blue-list p span {
    padding-left: 0
  }

  .blue-list ul li span:before {
    font-size: 36px !important;
    content: '\2022';
    position: absolute;
    left: -21px;
    top: -8px
  }

  .blue-list ul li {
    padding-left: 30px;
    line-height: 3.6;
    font-size: 17px !important
  }

  .blue-list ul li:before {
    height: 50px;
    width: 50px;
    left: -30px
  }

  .row-blue-list, .row-blue-list .blue-list {
    display: block;
    margin: auto
  }
}
/* end screen 780 */




/* start screen 768 */
@media (max-width: 768px) {

  .custom-software-dev-new .approach-list-item p:before {
    content: url('icons/check-circle-outline-small.svg') !important;
    top: 6px !important;
    margin: 0 15px 0 -35px !important;
  }

  .custom-software-dev-new .approach-list-item {
    width: 100% !important;
    margin: 20px 30px 0px 20px !important;
  }
  .contact-left-content, .case-stidies-categories ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start
  }
  .case-stidies-categories li {
    font-size: 14px !important;
    color: #828282 !important;
    margin-right: 10px
  }

  .net-development-company-projects {
    display: block ;
    text-align: -webkit-center;
    width: 100%;
  }

  .services-dev-work-content, .services-dev-work-content:nth-child(even) {
    flex-direction: row
  }

  .left-work-content {
    width: auto;
    padding: 0 0 15px 15px;
    border-right: none;
    border-left: 1px dashed #828282
  }

  .right-work-content, .left-work-content .we-hire-block-image {
    float: left
  }

  .right-work-content {
    width: auto;
    padding: 0 0 15px 15px !important;
    border-right: none !important;
    text-align: left !important
  }

  .services-dev-work-content:nth-child(even) .right-work-content .title-block-work {
    padding: 0 40px 10px 0 !important
  }

  .services-dev-work-content .title-block-work {
    font-size: 16px !important;
    color: #343434
  }

  .custom-software-dev-new .text_criptucyrrent, .we-hire-new .text_criptucyrrent {
    margin-bottom: 20px
  }

  .web-develop-service-col-size-os {
    width: 50%
  }

  .send-mail input[type=submit] {
    font-size: 18px !important;
    width: 165px !important
  }
  div > div.send-mail > div.form-free-evaluation {
    padding: 4% 15px !important
  }

  .quote-text {
    width: 70%
  }

  .first-column-our-clients, .second-column-our-clients {
    flex-direction: column
  }

  .third-image, .sixth-image {
    box-shadow: none
  }

  .first-image, .fourth-image, .fifth-image, .eight-image {
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, .14)
  }


  .links ul li {
    line-height: 40px
  }

  .custom-software-dev-new .we-hire-block-image p {
    margin-top: 16px
  }

  .custom-software-dev-new .we-hire-block-image h3 br, .case-block-link, .etk-case-block-left-content .etk-title-case-content {
    display: none
  }
  .home-technology .size-block-image-stage svg {
    max-width: 75px;
    height: 75px
  }

  .home-technology .block-image-stage:before {
    width: 105px;
    height: 105px
  }

  .home-technology.new-home-page-technology .block-image-stage {
    width: 115px;
    height: 115px
  }

  .home-technology .custom-software-dev > div h4 {
    height: 20px
  }

  .exp-our-serv-block-wrapper {
    width: 100%;
    justify-content: center
  }

  .three-block-wrapper {
    flex-direction: column
  }

  .explore-our-services-row {
    padding: 10px
  }

  .explore-our-services-block-wrapper .container {
    padding: 0 15px
  }

  .exp-our-serv-block-text {
    font-size: 17px
  }

  .exp-our-serv-block-text ul li {
    padding: 8px 0
  }

  .exp-our-serv-block-title, .btn-exp-our-serv-learn-more-wrapper {
    font-size: 22px
  }
  .header .header-content {
    padding-top: 13rem;
    padding-bottom: 7.5rem;
    padding: 0 !important;
  }

  .header h1 {
    font: 700 2rem/3rem "Montserrat", sans-serif;
  }

  .desktop-soft-text-criptucyrrent {
    margin: 0
  }
  .content-page {
    font-size: 16px
  }
  .blockchain-purple-container, .blockchain-blue-container {
    margin: 0
  }

  .desktop-soft-col-md-6 {
    padding-bottom: 30px;
    display: inline-block;
    padding: 10px 5px 90px;
  }

  .blockchain-row {
    padding-top: 50px !important
  }

  .blockchain-my-monitor-block {
    float: initial;
    display: block
  }

  .web-develop-service-col-size {
    width: 20%
  }

  .web-develop-service-col-size .block-image-stage {
    margin-left: 9%
  }

  .new-service-content .service-tab:nth-child(2), .custom-software-dev .service-tab:nth-child(2), .software-product-dev .service-tab:nth-child(2), .it-consulting-services .service-tab:nth-child(2), .dedicated-development-team .service-tab:nth-child(2) {
    margin-bottom: 0
  }

  .web-develop-service-col-size .block-image-stage {
    margin-left: 9%
  }
  .post-service {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    min-height: auto
  }

  .custom-software-dev-new .text-header-service p {
    text-align: center
  }


  .custom-software-dev-new .work-block .we-hire-block-image, .custom-software-dev-new .work-block .we-hire-block-image .block-image-stage, .custom-software-dev-new .work-block {
    margin-right: auto !important;
    justify-content: center;
    align-items: center;
    flex-direction: column !important
  }

  .custom-software-dev-new .work-block .we-hire-block-image, .custom-software-dev-new .approach-list-item {
    width: 100%;
    max-width: 100%
  }

  .custom-software-dev-new .we-hire-block-image {
    margin-left: 0 !important
  }

  .custom-software-dev-new p, .custom-software-dev-new span, .custom-software-dev-new li, .custom-software-dev-new .quote-sevice, .services-dev-work-content .title-block-work, .dedicated-development-team-new .comment p:first-child, .we-hire-block-image h3, .we-hire-block-image p {
    font-size: 18px !important;
    color: #343434;
    margin-left: 10px;
  }

  .custom-software-dev-new .list-item p, .custom-software-dev-new .approach-list-item p, .custom-software-dev-new .text-header-service p, .job-page-new .col-md-9 p, .job-position-content-left p, .we-hire-new .text-header-service p {
    font-size: 18px !important;
    line-height: 134.1%
  }

  .custom-software-dev-new .text-header-service p span {
    font-style: normal;
    font-weight: 300;
    font-size: 18px !important;
    line-height: 134.1%;
    color: #5a5a5a
  }

  .dedicated-development-team-new .col-md-5 p, .dedicated-development-team-new .col-md-5 p span, .custom-software-dev-new .get-started {
    font-size: 24px !important
  }

  .web-develop-row {
    margin: 0;
    padding: 30px 0 !important
  }

  .web-develop-text-block {
    margin-top: 0 !important;
    padding: 0 !important
  }

  .value-title {
    padding-bottom: 10px
  }

  .custom h2 {
    font-size: 32px !important;
    padding: 15px !important;
  }

}
/* end screen 768 */




@media (max-width: 767px){
  .follow {
    float: left;
    width: 100%
  }
  //.top-navbar {
  //  display: none;
  //}
  .right-top {
    float: none;
    margin: auto;
    width: 100%
  }
  .left-top {
    float: none;
    margin: auto;
    width: 100%
  }
  .toplink {
    width: 100%;
    float: left
  }

  .toplink li {
    float: none;
    margin: 0
  }

  .toplink li a {
    color: #fff
  }

  .toplink-new li.email {
    flex-wrap: nowrap;
    width: 195px;
    margin-left: auto;
    margin-right: inherit
  }

  .phone-new {
    margin-right: auto;
    max-width: 220px;
    margin-left: 50px !important;
  }

}


/* start screen 760 */
@media (max-width: 760px){
  .custom p, .custom div, .custom span {
    font-size: 18px !important;
    align-content: center;
  }

  .blue-figure:before {
    height: 270px
  }

  .red-figure:before {
    height: 270px
  }
}
/* end screen 760 */




@media (max-width: 700px) {
  .size-block-image-stage svg {
    max-width: 45px;
    height: 45px;
    margin: 15px auto
  }

  .size-block-image-stage {
    width: 100px;
    height: 100px;
    margin-left: 25%
  }

  .size-block-image-stage:before {
    width: 90px;
    height: 90px
  }

  .service-col-size {
    width: 33%
  }

  .rows-block-align-center .bussnes-auto-services-row {
    width: 33% !important
  }
}



@media (max-width: 655px) {
  .exp-our-serv-block-wrapper {
    width: 100%;
    justify-content: center
  }
}



/* start screen 643 */
@media (max-width: 620px) {

  .first-image-block, .second-image-block, .third-image-block, .fourth-image-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center
  }

  .clients-image-block {
    width: 70%;
    min-width: 320px;
    box-shadow: none
  }

  .first-image {
    box-shadow: none
  }

  .eight-image {
    box-shadow: none
  }

  .bottom-shadow {
    box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, .14), 0 2px 2px 2px rgba(0, 0, 0, .14);
    width: 40%;
    min-width: 160px
  }


  .custom-software-dev .service-tab, .software-product-dev .service-tab, .it-consulting-services .service-tab, .dedicated-development-team .service-tab {
    padding: 0
  }
  .new-service-content .main-services > div .img-service {
    margin-top: 10px
  }

}
/* end screen 643 */




/* start screen 643 */
@media (max-width: 643px) {
  .blue-figure:before {
    height: 280px
  }
}
/* end screen 643 */




/* start screen 640 */
@media (max-width: 640px) {

  .blue-list {
    padding-left: 20px
  }

  .block-send-mail > div:first-of-type {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px
  }

  .pulse1 {
    width: 50px;
    height: 50px;
    top: 0;
    left: -7px
  }

  .pulse2 {
    left: -13px
  }

  .open-send-mail {
    background-size: contain;
    width: 25px;
    height: 25px
  }

  .free-evaluation .title-block-evaluation {
    font-size: 18px
  }

  .desc-stage {
    font-size: 18px
  }

  .title-stage {
    font-size: 20px
  }

  .how_we_work_page .custom.custom-software-dev .aligncenter {
    max-width: 240px
  }

  .how_we_work_page .custom h2 {
    font-size: 24px !important
  }
  .page-post .container {
    padding: 0 15px
  }


  .quote-text {
    width: 90%
  }

  .block-image-stage img, .block-image-stage svg {
    max-width: 50px;
    height: 50px;
    margin: 20px auto
  }

  .block-image-stage:before {
    width: 110px;
    height: 110px
  }

  .block-image-stage {
    width: 120px;
    height: 120px;
    padding: 15px
  }

  .main-services > div {
    margin-bottom: 30px
  }

  .we-hire-block-image h3, .we-hire-block-image p {
    height: auto !important;
    font-size: 16px;
  }


}
/* end screen 640 */




/* start screen 620 */
@media (max-width: 620px) {

  .custom-software-dev .post-service, .software-product-dev .post-service, .it-consulting-services .post-service, .dedicated-development-team .post-service {
    padding-right: 15px;
    padding-left: 15px
  }

  .template-home-page .case-one > div, .template-home-page .case-two > div, .template-home-page .case-three > div, .template-home-page .case-four > div, .custom-software-dev .case-one > div, .custom-software-dev .case-two > div, .software-product-dev .case-one > div, .software-product-dev .case-two > div, .it-consulting-services .case-one > div, .it-consulting-services .case-two > div, .dedicated-development-team .case-one > div, .dedicated-development-team .case-two > div {
    width: 100%
  }
}
/* end screen 620 */




/* start screen 581 */
@media (max-width: 581px) {
  .blue-figure:before {
    height: 310px
  }
}
/* end screen 581 */




/* start screen 575 */
@media (max-width: 575px) {
  .blue-figure:before {
    height: 310px
  }

  .red-figure:before {
    height: 295px
  }
}
/* end screen 575 */




/* start screen 555 */
@media (max-width: 555px) {
  .blue-figure:before {
    height: 310px
  }

  .red-figure:before {
    height: 305px
  }
}
/* end screen 555 */




/* start screen 547 */
@media (max-width: 547px) {
  .blue-figure:before {
    height: 330px
  }
}
/* end screen 547 */




@media (max-width: 540px) {
  .size-block-image-stage svg {
    max-width: 45px;
    height: 45px;
    margin: 15px auto
  }

  .size-block-image-stage {
    width: 100px !important;
    height: 100px !important;
    margin-left: 31%
  }

  .size-block-image-stage:before {
    width: 90px !important;
    height: 90px !important
  }

  .service-col-size {
    width: 49%
  }

  .rows-block-align-center .bussnes-auto-services-row {
    width: 50% !important
  }

  .job-page-new .we-hire-block-image {
    width: 100% !important;
    flex-direction: row !important
  }

  .we-hire-block-image, .we-hire-block-image p {
    text-align: left !important
  }

  .job-page-new .we-hire-block-image .block-image-stage img, .job-page-new .we-hire-block-image .block-image-stage svg {
    margin: 10px !important
  }

  .job-page-new .we-hire-block-image {
    margin-right: 0;
    margin-left: 0
  }

  .job-page-new .we-hire-block-image h3 {
    margin-top: 10px
  }

}
// Home page responsive
@media (max-width: 786px) {
  .we-hire-block-image .block-image-stage {
    //margin-right: 286px !important;
    display: flex;
    justify-content: center;
    align-items: center
  }
  p {
    text-align: left !important;
  }
  .paragraph-padding {
    padding: 0px 15px;
  }
  .display-block {
    display: block !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  .email {
    margin-right: -19px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  .section-md, .section-lg, .section-xl {
    padding: 5px 0 !important;
  }
  .pt-5, .py-5 {
    padding-top: 0 !important;
  }
  .margin-bottom {
    margin-bottom: -31px !important;
  }
  .row .explore-our-services-title h2 {
    font-size: 22px !important;
    box-sizing: content-box !important;
  }
  #best-service h2 {
    font-size: 22px !important;
  }
  .desktop-soft-button {
    margin-top: 0 !important;
    padding-bottom: 0px !important;
  }
  #our-clients h2, #portfolio h2, #make-us-unique h2, #technology h2 {
    font-size: 22px !important;
  }
  #technology h4 {
    font-size: 18px !important;
  }
  #feature-blog .new-home-page-row-title .text-center h2 {
    font-size: 22px !important;
  }
  #our-clients p {
    margin-bottom: 0px !important;
  }
  .service-col-size {
    width: 48% !important;
  }
  .logo-responsive {
    display: -webkit-inline-box !important;
    -webkit-box-pack: center !important;
  }
  .content-responsive {
    -webkit-box-pack: center !important;
  }
  .font-size-p {
    font-size: 18px !important;
  }
  .custom h2{
    font-size: 22px !important;
  }
  .desktop-top-header {
    margin-bottom: -71px !important;
  }
  .li-context-align {
    display: inline-flex !important;
  }
  .blockchain-my-text-purple-block, .blockchain-my-text-blue-block {
    border: none !important;
  }
  .custom .title-post {
    font-size: 20px !important;
  }
  #case-slider__item-title {
    font-size: 30px !important;
  }
  .desktop-soft-monitor-block, .desktop-soft-middleware-desktop {
    padding-bottom: 25px;
  }
  .desktop-soft-button {
    padding-top: 20px;
  }
  .blockchain-my-head-blue-block {
    padding-bottom: 15px;
  }
  .get-quote-light {
    text-align-last: center;
  }
  .maintain-li {
    display: -webkit-box !important;
  }
  .looking-increased-roi .content ol li {
    display: inline-flex;
  }
  .custom .chamomile-block .flowers-block .flowers-title {
    font-size: 20px !important;
    font-weight: 700;
  }
  .top-flowers-row .flowers-block {
    margin-top: -190px !important;
  }
  .java-block {
    margin-bottom: -132px;
  }
  .java-block-last {
    margin-top: 50px;
  }
  .custom .chamomile-block .flowers-block ul li {
    text-align: left;
  }
  .text-service {
    padding-top: 15px;
  }
  .chamomile-block-bg-image {
    display: none !important;
  }
  .custom-software-content{
    margin-top: -93px !important;
  }
  .dot-net-content {
    padding-top: 115px;
  }
  .bg-section-top {
    padding-top: 80px;
  }
  .dot-net-inline-grid {
    display: inline-grid;
  }
  .flowers-title {
    margin-top: 20px;
  }
  .approach-list-item {
    text-align: left !important;
  }
  .case-one {
    margin-bottom: 20px;
  }
  .custom-software-dev .content-page {
    text-align: left !important;
  }
  .block-work {
    display: contents;
  }
  .net-development-row {
    padding-left: 23px;
  }
  .blue-text-size p span {
    font-size: 25px !important;
  }
  .ror-development-top {
    padding-top: 121px;
  }
  .we-development-top {
    padding-top: 70px;
  }
  .top-left-margin {
    margin-top: 131px !important;
  }
  .top-center-second {
    margin-top: 30px !important;
  }
  .margin-top-products {
    margin-top: -133px !important;
  }
  .blog-margin {
    margin-left: 0 !important;
  }
  .contact-us-content {
    margin-left: 10px;
  }
  .contact-us-new .we-hire-block-image h3 {
    margin: 10px 11px 18px !important;
  }
  .portfolio-margin-left {
    margin-left: 20px;
  }
  .custom-software-dev-li li {
    color: #fff6f6 !important;
  }
  .blog-index {
    display: inline-grid;
    justify-items: center !important;
  }
  .blog-post-new {
    width: 90% !important;
  }
}
.custom-margin-left {
  margin-left: 12px;
}
.case {
  padding-top: 0!important;
}
.custom-software-dev-project p {
  height: 155px!important;
}
.team-description {
  text-align: left !important;
}
.portfolio-soft-button {
  margin: 0px;
  padding: 0px;
}
@media (min-width: 1200px) {
  .maintenance-service-padding-bottom {
    margin-bottom: -525px;
  }
}
.col-md-offset-1 {
  margin-top: 44px;
}
.we-hire-block-image {
  flex-flow: wrap;
}
@media (max-width: 525px) {
  .blue-list {
    padding-left: 0;
  }
}

/* start screen 522 */
@media (max-width: 522px) {
  .blue-figure:before {
    height: 355px
  }
}
/* end screen 522 */




/* start screen 488 */
@media (max-width: 488px) {
  .blue-figure:before {
    height: 355px
  }

  .red-figure:before {
    height: 318px
  }
}
/* end screen 488 */




/* start screen 486 */
@media (max-width: 486px) {
  .blue-figure:before {
    height: 365px
  }
}
/* end screen 486 */




/* start screen 480 */
@media (max-width: 480px){

  .home-how-we-work .block-work {
    margin-top: 15px;
    margin-bottom: 0
  }

  .stage:nth-child(2n) > div > div .block-image-stage, .stage:nth-child(2n+1) > div > div .block-image-stage {
    margin: 0 auto 30px;
    float: none
  }

  .stages {
    margin-top: 15px
  }

  .desc-stage {
    text-align: justify
  }

  .stage {
    margin-bottom: 30px
  }

  .send-mail input[type=email] {
    width: 100%
  }

  .send-mail > div p > span:last-of-type:before {
    display: none
  }

  .send-mail input[type=submit] {
    width: 100% !important;
    outline: none;
    border: 1px solid #fff
  }

  .free-evaluation .title-block-evaluation {
    margin-bottom: 5px
  }

  div > div.send-mail > div.form-free-evaluation {
    padding: 4% 15px 7% !important
  }

  .free-evaluation .title-block-evaluation {
    line-height: 26px
  }

  .send-mail > div p > span:last-of-type {
    width: 100%
  }
  .our_customers .text-comment {
    display: flex;
    padding: 0
  }

  .our_customers .text-comment p {
    font-style: italic;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif !important;
    padding: 0 28px;
    line-height: 38px
  }

  .quote {
    padding: 25px 0
  }
  .quote-text {
    width: 100%;
    padding: 0
  }

  .exp-our-serv-block {
    width: 100%;
    background: #ececee
  }

  .exp-our-serv-block-wrapper {
    width: 95%
  }

  .exp-our-serv-block-text {
    margin: 20px 20px 0
  }

  .exp-our-serv-block-title, .btn-exp-our-serv-learn-more-wrapper {
    font-size: 20px
  }

  .top .container {
    padding: 0 15px
  }
  .contact-link {
    margin-top: 30px
  }

  .main-services > div .img-service {
    margin: 20px 0 30px
  }
  .main-services > div {
    width: 100%
  }
  .main-services > div {
    margin-bottom: 5px
  }

  .custom p, .custom div, .custom .text-service p, .custom span {
    font-size: 14px
  }

  .content-page {
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0 30px;
    padding: 15px 0 0
  }
  .home-technology.new-home-page-technology .custom-software-dev .service h2 {
    padding: 40px 0 !important
  }

  .service {
    margin-bottom: 30px
  }
  .service h3 {
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 28px
  }


  .text-post {
    float: left;
    width: 100%;
    display: table-footer-group;
    padding-top: 15px;
    text-align: center
  }

  .image-post {
    width: 100%;
    text-align: center;
    display: table-header-group
  }

  .image-post img {
    margin: 15px 0;
    max-height: 80px
  }

  .post-service {
    display: table;
    padding: 0;
    margin-bottom: 15px
  }

  .title-post {
    font-size: 22px;
    margin: 0 0 15px;
    line-height: 34px
  }

  .desc-post {
    font-size: 21px;
    margin-top: 10px;
    line-height: 32px
  }
  .new-service-content .main-services > div {
    min-height: 400px
  }

  .new-service-content .service-tab:nth-child(2) {
    margin-bottom: 20px
  }

  .new-service-content .main-services > div .img-service {
    margin-top: 30px
  }
  .title-post {
    font-size: 20px;
    margin: 0 0 10px;
    line-height: 28px
  }

  .desc-post {
    font-size: 18px;
    margin-top: 10px;
    line-height: 28px;
    text-align: justify
  }
}
/* end screen 480 */




@media screen and (max-width: 479px) and (min-width: 320px) {
  .phone {
    float: left !important
  }

  .email {
    float: right !important
  }

  .toplink-new li.email {
    width: 150px;
    margin-right: 5px
  }

  .toplink {
    width: 100%;
    float: left
  }

  .right-top {
    float: none;
    margin: auto;
    width: 100%
  }

  .toplink li {
    float: none;
    margin: 0
  }

  .toplink li a {
    color: #fff;
    font-size: 12px
  }

  .bnrtxt h1 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px
  }

  .bnrtxt {
    margin-top: 15%
  }

  .effects {
    padding: 10px 0;
    width: 100%
  }

  .effectswhy {
    width: 100%
  }

  .industries h2 {
    font-size: 30px;
    margin: 0 0 10px
  }

  .industries p {
    font-size: 14px;
    font-weight: 400
  }

  .industries {
    padding: 20px 0
  }

  .srvicimg {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 0
  }

  .servicepara {
    width: 100%
  }

  .srvicimg img {
    width: 100%
  }
}




/* start screen 448 */
@media (max-width: 448px) {
  .blue-figure:before {
    height: 355px
  }

  .red-figure:before {
    height: 321px
  }
}
/* end screen 448 */




/* start screen 447 */
@media (max-width: 447px) {
  .blue-figure:before {
    height: 370px
  }
}
/* end screen 447 */




/* start screen 432 */
@media (max-width: 432px) {
  .blue-figure:before {
    height: 400px
  }

  .red-figure:before {
    height: 340px
  }
}
/* end screen 432 */




/* start screen 430 */
@media (max-width: 430px) {
  .blue-figure:before {
    height: 400px
  }

  .red-figure:before {
    height: 355px
  }
  .dedicated-development-team-new .service-col-size, .contact-us-new .we-hire-block-image {
    width: 100% !important
  }
}
/* end screen 430 */






/* start screen 425 */
@media (max-width: 425px) {
  .services-new .we-hire-block-image h3, .we-hire-block-image .contact-link {
    text-align: center
  }
  .size-block-career-top, .services-new .size-block-career-top {
    width: 100px !important;
    height: 100px !important;
    margin: 0 auto !important
  }

  .size-block-career-top:before, .services-new .size-block-career-top:before {
    width: 90px !important;
    height: 90px !important
  }

  .we-hire-block-image .size-block-career-top img, .we-hire-block-image .size-block-career-top svg, .services-new .we-hire-block-image .size-block-career-top img, .services-new .we-hire-block-image .size-block-career-top svg {
    width: auto;
    max-width: 48px;
    margin: auto
  }

  .toplink li.phone-new {
    width: 50%
  }

  .toplink li.phone-new svg {
    width: 12px;
    height: 12px
  }

  .toplink-new {
    justify-content: space-between
  }

  .toplink-new li.email a:before {
    width: 18px;
    height: 14px;
    margin-top: 6px
  }
  .usa-number {
    margin-right: 0
  }

  .custom-software-dev .case-one > div, .custom-software-dev .case-two > div {
    padding: 30px 0;
    text-align: left
  }
  .custom-software-dev-new .long-text-padding {
    padding-right: 0 !important;
    padding-left: 0 !important
  }
  .custom-software-dev-new .block-image-stage, .custom-software-dev-new .main-services > div {
    margin: 0 auto !important
  }
  .custom-software-dev-new .approach-list-item {
    margin: 10px 0 0;
    padding-left: 35px
  }


  .follow-new .usa-number {
    margin-right: 5.5px
  }

  .follow-new .phone-new {
    justify-content: center;
    margin-top: 10px
  }

  .follow-new ul li.phone-new {
    line-height: 1.2
  }

  .custom-software-dev .case-one > div, .custom-software-dev .case-two > div {
    padding: 30px 0;
    text-align: left
  }
  .services-dev-work-content .size-block-career {
    width: 70px !important;
    height: 70px !important
  }

  .services-dev-work-content .size-block-career:before {
    width: 60px !important;
    height: 60px !important
  }

  .services-dev-work-content .block-image-stage svg {
    width: 27px;
    height: 27px;
    margin: 1.5px auto
  }

}
/* end screen 425 */



/* start screen 421 */
@media (max-width: 421px) {
  .blue-figure:before {
    height: 400px
  }

  .red-figure:before {
    height: 368px
  }
}
/* end screen 421 */





/* start screen 414 */
@media (max-width: 414px) {
  .custom-software-dev .text-header-service p, .custom-software-dev .content-page, .quote-sevice, .custom-software-dev .case-one, .custom-software-dev .case-two, .custom-software-dev .approach-list, .desc-post {
    font-size: 20px !important
  }
  .red-figure:before {
    height: 340px
  }
  .desktop-soft-col-md-6 {
    width: 100%;
    padding-bottom: 20px;
    display: block
  }
  .blockchain-row {
    padding-top: 10px !important
  }
  .blockchain-row .min-980-padding-20 {
    padding-right: 0 !important;
    margin: 0
  }

  .text_criptucyrrent {
    text-align: justify
  }

  .cryptocurrency-block {
    margin-bottom: 30px
  }

  .web-develop-service-col-size {
    width: 100%
  }

  .web-develop-service-col-size .block-image-stage {
    margin-left: 37%
  }


  .web-develop-row {
    margin: 0;
    padding: 30px 0 !important
  }

  .web-develop-text-block {
    margin-top: 0 !important;
    padding: 0 !important
  }

  .value-title {
    padding-bottom: 10px
  }

  .web-develop-service-col-size-os {
    width: 50%
  }



}
/* end screen 414 */





/* start screen 411 */
@media (max-width: 411px) {

  .web-develop-service-col-size-os {
    width: 50%
  }

  .web-develop-row {
    margin: 0;
    padding: 30px 0 !important
  }

  .web-develop-text-block {
    margin-top: 0 !important;
    padding: 0 !important
  }

  .value-title {
    padding-bottom: 10px
  }

  .red-figure:before {
    height: 350px
  }

  .web-develop-service-col-size {
    width: 100%
  }

  .web-develop-service-col-size .block-image-stage {
    margin-left: 7%
  }
}
/* end screen 411 */





/* start screen 400 */
@media (max-width: 400px) {
  .blue-figure:before {
    height: 750px !important;
  }

  .red-figure:before {
    height: 750px !important;
  }
}
/* end screen 400 */





/* start screen 375 */
@media (max-width: 375px) {
  .red-figure:before {
    height: 400px
  }

  .web-develop-service-col-size {
    width: 100%
  }

  .web-develop-service-col-size .block-image-stage {
    margin-left: 5%;
  }
  .discuss-new .contact-form .ajax-loader {
    left: 139px !important
  }

  .web-develop-row {
    margin: 0;
    padding: 30px 0 !important
  }

  .web-develop-text-block {
    margin-top: 0 !important;
    padding: 0 !important
  }

  .value-title {
    padding-bottom: 10px
  }

  .web-develop-service-col-size-os {
    width: 50%
  }

}
/* end screen 375 */





/* start screen 365 */
@media (max-width: 365px) {

  .web-develop-service-col-size-os {
    width: 50%
  }

  .web-develop-row {
    margin: 0;
    padding: 30px 0 !important
  }

  .web-develop-text-block {
    margin-top: 0 !important;
    padding: 0 !important
  }

  .value-title {
    padding-bottom: 10px
  }

  .custom p, .custom div, .custom span {
    font-size: 18px;
  }

  .blue-figure:before {
    height: 850px !important;
  }

  .red-figure:before {
    height: 850px !important;
  }

  .my-monitor-block {
    padding: 0 15px
  }

  .web-develop-service-col-size {
    width: 100%
  }

  .web-develop-service-col-size .block-image-stage {
    margin-left: 7%;
  }

  .blue-list ul li:before {
    left: -50px
  }

  .blue-list ul li {
    padding-left: 10px
  }
}
/* end screen 365 */





/* start screen 320 */
@media (max-width: 320px) {
  .blue-figure:before {
    height: 420px
  }

  .red-figure:before {
    height: 380px
  }

  .web-develop-service-col-size {
    width: 100%
  }

  .web-develop-service-col-size .block-image-stage {
    margin-left: 6%;
  }
  .discuss-new .contact-form .ajax-loader {
    left: 111px !important
  }

  .web-develop-row {
    margin: 0;
    padding: 30px 0 !important
  }

  .web-develop-text-block {
    margin-top: 0 !important;
    padding: 0 !important
  }

  .value-title {
    padding-bottom: 10px
  }

  .web-develop-service-col-size-os {
    width: 50%
  }
}
/* end screen 320 */
