
<table style='background-color: #ddd;
    padding: 5px 15px;
    font-size: 20px;
    border-left: 5px solid green;
    border-radius: 3px;
    color: #333;
    margin-bottom: 20px;
    width: 100%;'>
  <tr>
    <td>Syftet Contact Us Notifications</td>
  </tr>
</table>

<table border='1' style="width: 100%;">
  <thead>
  <tr>
    <th>Name:</th>
    <th>Email:</th>
    <th>Message:</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @contact.name %></td>
    <td><%= @contact.email %></td>
    <td><%= @contact.message %></td>
  </tr>
  </tbody>
</table>
