<div class="swiper-slide position-relative"
     data-slide-bg="<%= image_url 'slider1.jpg' %>">
  <%#= image_tag 'slider1.jpg' %>
  <div class="swiper-overlay bg-img-src1"></div>
  <div class="swiper-slide-caption text-center">
    <div class="container">
      <div class="row justify-content-center justify-content-xxl-start">
        <div class="col-lg-10">
          <h1 data-caption-animate="fadeInUpSmall">Application Development</h1>
          <h5 class="font-weight-normal" data-caption-animate="fadeInUpSmall"
              data-caption-delay="200">
            We develop web, mobile & desktop application based on different requirements of our
            clients. nurture them according to how they want it.
          </h5>
          <a class="button button-primary" data-caption-animate="fadeInUpSmall"
             data-caption-delay="350" href="/contact-us">Contact Us!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="position: relative" class="swiper-slide text-center" data-slide-bg="<%= image_url 'slider3.jpg' %>">
  <div class="swiper-overlay bg-img-src1"></div>
  <div class="swiper-slide-caption">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-lg-10">
          <h1 data-caption-animate="fadeInUpSmall">Virtualize your dream!</h1>
          <h5 class="font-weight-normal" data-caption-animate="fadeInUpSmall"
              data-caption-delay="200">We are always prepared to develop your ideas and needs into a final
            product.</h5>
          <a class="button button-primary"
             data-caption-animate="fadeInUpSmall"
             data-caption-delay="350" href="/contact-us">Let's Do it!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="position: relative" class="swiper-slide text-center" data-slide-bg="<%= image_url 'slider2.png' %>">
  <div class="swiper-overlay bg-img-src1"></div>
  <div class="swiper-slide-caption">
    <div class="container">
      <div class="row justify-content-center justify-content-xxl-end">
        <div class="col-lg-10">
          <h1 data-caption-animate="fadeInUpSmall">Complex Development</h1>
          <!--                                <h4 data-caption-animate="fadeInUpSmall">We all are here to listen from you.</h4>-->
          <h5 class="font-weight-normal" data-caption-animate="fadeInUpSmall"
              data-caption-delay="200">Most complex application developments are also handled with care,
            emphasizing more
            deeply on what you need.
          </h5>
          <a class="button button-primary"
             data-caption-animate="fadeInUpSmall"
             data-caption-delay="350" href="/contact-us">Let's Cheer Up!</a>
        </div>
      </div>
    </div>
  </div>
</div>
