<!--<section id="team" class="section-md bg-default text-center">-->
<!--  <div class="container">-->
<!--    <h2 class="text-center">Our Valuable Team</h2>-->
<!--    <div class="row row-50">-->
      <%# @teams.each do |member| %>
<!--          <div class="col-md-6 col-xl-4">-->
<!--            Thumb flat-->
<!--            <article>-->
<!--              <div class="box16">-->
                <%#= image_tag member.image_url, alt: 'Nazrul pic', class: "content-image thumb-flat__image" %>
<!--                <div class="box-content">-->
<!--                  <h3 class="title"><%#= member.name %></h3>-->
<!--                  <span class="post"><%#= member.designation %></span>-->
<!--                  <ul class="social">-->
<!--                    <li><a target="_blank" href="<%#= member.facebook_link %>"><i class="fa fa-facebook"></i></a></li>-->
<!--                    <li><a target="_blank" href="<%#= member.twitter_link %>"><i class="fa fa-twitter"></i></a></li>-->
<!--                    <li><a target="_blank" href="<%#= member.github_link %>"><i class="fa fa-github"></i></a></li>-->
<!--                    <li><a target="_blank" href="<%#= member.linkedin_link %>"><i class="fa fa-linkedin"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <a style="text-align: left" href="<%#= best_team_path(member.slug) %>">-->
<!--              <span class="team-description">-->
<!--                <%#= truncate(member.description, :length => 100)%><span class="read-more"> more</span></span>-->
<!--                <a href="best_teams/<%#= member.slug %>" class="btn blue-primary-btn btn-get-started blue-primary-btn-custom">Details</a>-->
<!--              </a>-->
<!--            </article>-->
<!--          </div>-->
      <%# end %>
<!--    </div>-->

<!--  </div>-->
<!--</section>-->

<section id="team" class="section-md bg-default text-center">
  <div class="container">
    <h2 class="text-center">Our Valuable Team</h2>
    <div class="row row-50">
      <% @teams.each do |member| %>
        <div class="col-md-4 col-xl-3">
          <article>
            <a style="text-align: left" href="<%= best_team_path(member.slug) %>">
              <%= image_tag member.image_url, alt: "#{member.name}", class: "content-image thumb-flat__image" %>
              <h3 class="team-title"><%= member.name %></h3>
              <span class="team-post"><%= member.designation %></span>
            </a>
          </article>
        </div>
      <% end %>
    </div>
  </div>
</section>
