<% content_for :title do %>
  Software Company Profile in Bangladesh | Syftet Limited
<% end %>
<% content_for :meta_title do %>
  Software Company in Bangladesh | Syftet
<% end %>


<div class="custom custom-software-dev">
  <header id="header" class="header">
    <div class="header-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h1>Company Profile</h1>
              <p class="p-heading p-large">Best Software Development Company in Dhaka, Bangladesh</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="content_divider">
    <a>Company Profile</a>
  </div>
  <section class="section-md company-background">
<!--  <section class="section-md company-background">-->
    <div class="container">
      <h4 style="text-align: center">Company Profile</h4>
      <div class="row ">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10 mb10">
          <div class="themesflat-headings style-1 clearfix">
            <div class="">
              <table class="table table table-responsive " style="width: 100%;" >
                <tbody>
                <tr>
                  <th>Name of Company</th>
                  <td style="text-align: left">
                    Syftet Ltd. Bangladesh
                  </td>
                </tr>
                <tr>
                  <th>Type of Business</th>
                  <td style="text-align: left">
                    Software Company in Bangladesh
                  </td>
                </tr>
                <tr>
                  <th>Business Function</th>
                  <td style="text-align: left">
                    “SYFTED LTD” is the best software company in Bangladesh that takes full pride in its quality service. Our team of experts take pride in their tasks.
                  </td>
                </tr>
                <tr>
                  <th>Founders & Board of Members</th>
                  <td style="text-align: left">Syftet Ltd. Bangladesh</td>
                </tr>
                <tr>
                  <th>Corporate Office Address</th>
                  <td style="text-align: left">
                    <b>Head Office:</b><br>
                    <address>House #512, Road #07, Avenue #03, Mirpur DOHS, Pallabi, Dhaka 1216</address>
                    <b>Australia Outlet:</b><br>
                    <address>Suite 523, 368 Sussex Street Sydney, New South Wales 2000</address>
                  </td>
                </tr>
                <tr>
                  <th>Departments</th>
                  <td style="text-align: left">Syftet Ltd. Bangladesh</td>
                </tr>
                <tr>
                  <th>Website Address</th>
                  <td style="text-align: left">https://www.zerodevs.com</td>
                </tr>
                <tr>
                  <th>Company Email</th>
                  <td style="text-align: left">info@zerodevs.com</td>
                </tr>
                <tr>
                  <th>Company Phone</th>
                  <td style="text-align: left">
                    +88 (017) 22647240 (Bangladesh) <br>
                    13000 702 044 (Australia)
                  </td>
                </tr>
                <tr>
                  <th>Company Hotline</th>
                  <td style="text-align: left">
                    +88 (017) 22647240 (Bangladesh) <br>
                    13000 702 044 (Australia)
                  </td>
                </tr>
                <tr>
                  <th>Areas of Expertise</th>
                  <td style="text-align: left">Syftet Ltd. Bangladesh</td>
                </tr>
                <tr>
                  <th>Market Coverage</th>
                  <td style="text-align: left">Syftet Ltd. Bangladesh</td>
                </tr>
                <tr>
                  <th style="padding-right: 250px;">Motto</th>
                  <td style="text-align: left">Syftet Ltd. Bangladesh</td>
                </tr>
                <tr>
                  <th>Vision</th>
                  <td style="text-align: left" >
                    Our vision is to be the most sought after web design and development company in Dhaka, Bangladesh by producing customised and mobile-first websites for our clients. We are constantly evolving ourselves to remain the best website design and development company in Bangladesh and for international clients.
                  </td>
                </tr>
                <tr>
                  <th>Mission</th>
                  <td style="text-align: left">
                    Our mission is to help our clients grow their business by taking advantage of the latest technology. We would like to bring in world-class products and render the best services so that our clients get support to compete with the world business online.
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1"></div>
      </div>
    </div>
  </section>
</div>
