<% content_for :title do %>
  Ruby on Rails Development Company
<% end %>
<% content_for :meta_title do %>
  Ruby on Rails Development Company in Bangladesh | Syftet
<% end %>


<div class="custom-software-dev custom">
  <header id="header" class="header">
    <div class="header-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h1>Ruby On Rails Development Company</h1>
              <p class="p-heading p-large">Be a member of the Syftet family and then Syftet will ensure you enjoy 100% satisfaction with your projects. At Syftet, our Ruby on Rails developers are highly professional and very creative as they create enterprise solutions using Ruby on Rails technology. We support all types of business whether you are a startup or you need an advanced web app.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section-md bg-default">
    <div class="container custom-software-content bg-section-top">
      <h2 class="text-center line">RUBY ON RAILS DEVELOPMENT SERVICES</h2>
      <div class="text-header-service content-page">
        <p>
          <span style="font-weight: 400;"></span>
        </p>
        <p>
          <span style="font-weight: 400;">At Syftet, you will find a team who are specialists in working with Ruby on Rails technology. Our Ruby on Rails developers not only offer a wide range of RoR service, but also RoR Web development, fast MVP for starters, enterprise application integration and Web Application development. At Syftet, you will have a dedicated team who will work on your Ruby on Rails project and you will have full control over your project. </span>
        </p>
        <p></p>
      </div> <!-- start of loop -->
      <div class="container">
        <div class="row">
          <div class="col-xxs-12 col-md-6 col-sm-6 service-tab">
            <a href="#">
              <div class="col-xxs-12 col-md-4" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M349.543,110.025c35.68-1.063,77.692,0.721,116.563,0   c-20.504,12.698-43.021,23.385-63.58,36.028C383.928,134.981,367.725,121.513,349.543,110.025z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M563.596,169.365c-48.679-2.893-98.861-13.463-148.354-19.074   c23.185-13.197,49.54-28.875,72.057-39.208C526.237,117.006,550.899,137.203,563.596,169.365z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M319.872,126.978c24.86-1.351,45.509,7.035,54.045,27.551   c14.089,33.873-4.248,76.712-16.956,100.669c-15.583,29.378-33.935,54.021-51.923,74.177   c-42.534,47.657-87.233,87.891-139.876,111.263c-25.808,11.46-79.591,22.354-102.787,2.121   c-11.617-10.134-17.719-28.854-14.835-55.103c3.797-34.569,21.324-67.231,39.207-94.311   c35.294-53.445,79.209-96.689,134.578-130.338C247.391,147.165,281.591,129.059,319.872,126.978z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M403.586,160.888c47.343,36.722,96.938,76.846,139.875,114.443   c-59.992,3.234-118.573,7.881-178.023,11.657C377.155,243.956,391.332,203.383,403.586,160.888z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M555.118,285.929c-11.112,36.571-27.928,67.44-46.625,96.429   c-45.666-27.804-91.137-55.803-136.696-83.714C431.707,293.21,493.883,290.04,555.118,285.929z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M561.477,302.883c-3.328,89.57-13.745,181.234-19.074,272.334   c-8.103-44.261-14.209-90.502-21.194-136.697c-2.145-14.187-7.881-32.906-6.357-45.566c1.348-11.194,19.796-32.96,25.432-43.446   C549.03,333.238,554.851,318.826,561.477,302.883z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M402.527,501.041c-64.168-19.544-126.251-41.176-190.74-60.402   c8.539-12.596,21.318-22.249,32.849-32.849c35.4-32.539,72.643-67.285,108.087-100.668   C371.491,369.594,386.522,435.804,402.527,501.041z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M369.677,311.361c44.007,25.93,86.859,53.016,130.338,79.474   c-24.744,38.13-53.195,78.201-83.713,107.026C400.75,435.706,384.471,374.274,369.677,311.361z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M505.314,404.611c12.728,66.394,20.149,138.095,31.79,205.577   c-0.695,5.028-3.908-3.173-6.358-3.18c-36.077-31.742-71.358-64.28-108.085-95.37C450.933,476.683,480.956,443.477,505.314,404.611   z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M32.704,409.909c9.245,19.014,15.422,41.094,24.372,60.401   c-8.825,17.315-18.617,33.66-27.552,50.863C28.927,486.666,31.286,445.934,32.704,409.909z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M208.608,448.056c64.953,20.881,129.364,42.303,194.978,62.521   c-32.43,36.095-72.514,64.539-115.504,90.071C260.537,550.841,234.698,499.322,208.608,448.056z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M136.551,637.737c-23.26-53.742-47.208-106.797-68.879-162.129   c41.967-8.19,83.156-17.158,123.981-26.492C176.968,511.435,154.155,574.806,136.551,637.737z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M202.25,453.356c25.947,49.995,52.742,99.142,77.356,150.472   c-40.005,19.337-81.19,37.493-135.637,42.387C163.661,582.194,182.993,517.812,202.25,453.356z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M63.434,490.444c23.555,48.856,42.329,102.493,64.64,152.591   c-35.132,5.107-61.085-8.145-75.236-27.551C56.865,574.3,60.291,532.514,63.434,490.444z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M51.777,498.92c0.453,34.363-5.876,71.127-7.417,107.028   c-7.797-17.472-20.032-38.467-15.895-62.52C31.296,526.966,48.849,513.405,51.777,498.92z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M527.567,618.663c-75.063-5.117-148.232-12.13-223.59-16.953   c38.798-25.491,74.383-54.19,108.087-84.774C452.241,548.463,492.478,585.581,527.567,618.663z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M473.525,623.961c-84.409,7.784-172.008,12.374-258.559,18.016   c25.911-9.058,50.259-19.679,73.116-31.789C350.568,614.107,410.614,620.466,473.525,623.961z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M418.421,158.768c46.464,5.108,98.845,13.478,147.294,20.134   c7.591,30.329,1.382,69.278-6.358,94.31C511.379,236.063,465.515,196.802,418.421,158.768z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="col-xxs-12 col-md-8" style="float: left">
                <h4>Ruby on Rails Web Development</h4>
                <div class="text-service">
                  <p>
                    <span style="font-weight: 400; color: black;">We are the best Ruby and Rails web development company in Bangladesh because we have helped hundreds of clients to build their website with Ruby on Rails. At Syftet, we ensure your website developed with Ruby on Rails works across all devices and platforms. You will have rich features with flexible functionality on your website. </span>
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxs-12 col-md-6 col-sm-6 service-tab">
            <a href="#">
              <div class="col-xxs-12 col-md-4" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 283.5 286.4" style="enable-background:new 0 0 283.5 286.4;" xml:space="preserve" class="svg replaced-svg">
                      <style type="text/css">
                          .st0 {
                              fill: #878787;
                          }

                          .st1 {
                              fill: #0C88C4;
                          }

                          .st2 {
                              fill: #CE2030;
                          }
                      </style>
                      <g>
                        <g>
                          <g>
                            <path class="st0" d="M232.7,104.2c-19.7,0-34-25.8-34-43.2c0-18.8,15.3-34,34-34c18.8,0,34,15.3,34,34     C266.7,78.4,252.4,104.2,232.7,104.2z M232.7,36.7c-13.4,0-24.3,10.9-24.3,24.3c0,14.6,11.8,33.5,24.3,33.5     c12.5,0,24.3-18.9,24.3-33.5C257,47.6,246.1,36.7,232.7,36.7z"></path>
                          </g>
                          <g>
                            <path class="st0" d="M273.1,201.1h-15.3c-2.7,0-4.8-2.2-4.8-4.8s2.2-4.8,4.8-4.8h10.8l4.9-65.2c-7.9-2.8-27.9-9.5-40.9-9.5     c-16.4,0-38.9,8.3-39.1,8.4c-2.5,0.9-5.3-0.3-6.2-2.8c-0.9-2.5,0.3-5.3,2.8-6.2c1-0.4,24.3-9,42.5-9c18.2,0,46.5,11,47.7,11.4     c2,0.8,3.2,2.8,3.1,4.9l-5.6,73.3C277.7,199.1,275.6,201.1,273.1,201.1z"></path>
                          </g>
                          <g>
                            <path class="st0" d="M248.6,276c-0.2,0-0.4,0-0.6,0c-2.7-0.3-4.5-2.7-4.2-5.4l9.2-74.9c0.3-2.7,2.7-4.5,5.4-4.2     c2.7,0.3,4.5,2.7,4.2,5.4l-9.2,74.9C253.1,274.2,251,276,248.6,276z"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path class="st1" d="M50.8,104.2c-19.7,0-34-25.8-34-43.2c0-18.8,15.3-34,34-34c18.8,0,34,15.3,34,34     C84.8,78.4,70.5,104.2,50.8,104.2z M50.8,36.7c-13.4,0-24.3,10.9-24.3,24.3c0,14.6,11.8,33.5,24.3,33.5     c12.5,0,24.3-18.9,24.3-33.5C75.1,47.6,64.2,36.7,50.8,36.7z"></path>
                          </g>
                          <g>
                            <path class="st1" d="M25.7,201.1H10.4c-2.5,0-4.6-2-4.8-4.5L0,123.3c-0.2-2.1,1.1-4.1,3.1-4.9C4.3,118,32.6,107,50.8,107     c18.3,0,42.2,9.5,43.2,9.9c2.5,1,3.7,3.8,2.7,6.3c-1,2.5-3.8,3.7-6.3,2.7c-0.2-0.1-23.3-9.2-39.6-9.2c-13,0-33,6.7-40.9,9.5     l4.9,65.2h10.8c2.7,0,4.8,2.2,4.8,4.8S28.3,201.1,25.7,201.1z"></path>
                          </g>
                          <g>
                            <path class="st1" d="M34.9,276c-2.4,0-4.5-1.8-4.8-4.2l-9.2-74.9c-0.3-2.7,1.6-5.1,4.2-5.4c2.7-0.3,5.1,1.6,5.4,4.2l9.2,74.9     c0.3,2.7-1.6,5.1-4.2,5.4C35.3,275.9,35.1,276,34.9,276z"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path class="st2" d="M142,84.5c-21.6,0-37.2-28.3-37.2-47.3C104.8,16.7,121.5,0,142,0s37.2,16.7,37.2,37.2     C179.2,56.2,163.6,84.5,142,84.5z M142,9.7c-15.2,0-27.5,12.3-27.5,27.5c0,16.4,13.3,37.6,27.5,37.6c14.2,0,27.5-21.2,27.5-37.6     C169.5,22,157.2,9.7,142,9.7z"></path>
                          </g>
                          <g>
                            <path class="st2" d="M186.8,191.8h-16.9c-2.7,0-4.8-2.2-4.8-4.8c0-2.7,2.2-4.8,4.8-4.8h12.4l5.6-73.9c-5.3-3-20.3-10-45.9-10     c-25.5,0-40.6,7-45.9,10l5.6,73.9h12.4c2.7,0,4.8,2.2,4.8,4.8c0,2.7-2.2,4.8-4.8,4.8H97.2c-2.5,0-4.6-2-4.8-4.5l-6.1-81.2     c-0.1-1.6,0.6-3.2,1.9-4.2c0.7-0.5,18-13.3,53.9-13.3c35.9,0,53.1,12.7,53.9,13.3c1.3,1,2,2.6,1.9,4.2l-6.2,81.2     C191.4,189.9,189.3,191.8,186.8,191.8z"></path>
                          </g>
                          <g>
                            <path class="st2" d="M159.6,286.4h-35.3c-2.5,0-4.5-1.9-4.8-4.3l-10.3-94.6c-0.3-2.7,1.6-5,4.3-5.3c2.7-0.3,5,1.6,5.3,4.3     l9.8,90.2h26.6l9.8-90.2c0.3-2.7,2.7-4.6,5.3-4.3c2.7,0.3,4.6,2.7,4.3,5.3l-10.2,94.6C164.2,284.6,162.1,286.4,159.6,286.4z"></path>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="col-xxs-12 col-md-8">
                <h4>Dedicated Development Team</h4>
                <div class="text-service">
                  <p>
                    <span style="font-weight: 400; color: black">If you are thinking of getting a team who will solely work on your project and finish it on time, then we are the best choice. Our team can even cooperate with your in-house team and help you develop your project. Syftet has highly experienced Ruby on Rails Engineers at its disposal  and they will be happy to collaborate with your current team.</span>
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-md bg-gray-lighter">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="line"> Our Technology Stack </h3>
          <p>As a leading Ruby development company in Bangladesh, we work with the best and modern technology available in the market. We understand that technologies can play a vital role for your project in terms of rich functionality, features and quality. Syftet works with a wide range of tools including  Bundler, Thor, Rake, Active Support, mime-types and multi_json. These tools allow Syftet to create a highly secured and fast application for you.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-md bg-gray-lighter">
    <div class="container custom-software-content">
      <div class="row ror-development-top">
        <div class="service" id="service_9">
          <div class="row rows-block-align-center text-center">
            <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 service-tab service-col-size ml-3"><a>
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage size-tech-image margin-auto">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M367.826,53.237c12.229-4.558,31-0.46,44.084,0   c0.754,8.651,2.357,16.45,3.525,24.688c-10.613,3.493-27.18,1.033-40.557,1.764C371.25,72.148,372.379,59.851,367.826,53.237z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M306.105,95.558c-13.045,4-20.458,13.634-33.504,17.635   c-7.147-9.899-15.219-18.875-22.924-28.215c8.432-7.439,22.514-9.228,29.978-17.634C291.302,73.92,298.506,84.936,306.105,95.558z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M350.191,598.129c-89.935,0-179.868,0-269.802,0   c-0.06-140.42,34.062-236.488,82.88-329.756c48.181-92.051,120.852-195.324,262.748-185.158   c48.566,3.479,93.756,27.465,128.729,54.666c11.303,8.791,28.488,22.384,10.58,31.741c-6.744,3.524-21.428-12.33-35.268-17.634   c-15.936-6.108-28.033-8.702-49.375-7.054c-74.604,5.761-133.639,65.822-158.707,126.966   C280.993,371.862,316.605,506.487,350.191,598.129z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M510.662,83.215c9.799,9.597,24.619,14.172,31.74,26.451   c-2.17,0.77-3.623,2.256-3.527,5.29c-12.736-1.958-18.955-10.433-29.979-14.106C508.553,94.036,508.834,87.854,510.662,83.215z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M168.56,155.514c11.628,7.77,23.167,15.628,35.268,22.924   c-8.775,10.622-17.675,21.12-26.451,31.741c-13.89-6.095-23.735-16.235-37.031-22.924   C149.435,176.36,159.212,166.152,168.56,155.514z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M503.607,160.804c8.064,3.103,17.779,4.557,26.451,7.054   c0,3.527,0,7.054,0,10.58c-10.736,1.331-15.992-2.818-26.451-1.763C503.607,171.385,503.607,166.094,503.607,160.804z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M447.18,185.492c-7.975,2.608-10.521,10.64-19.398,12.344   c-1.922-9.247-7.848-14.49-10.582-22.924C430.283,170.913,451.037,160.545,447.18,185.492z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M373.113,206.653c8.301,9.335,14.447,20.823,21.162,31.742   c-4.018,5.975-8.715,11.269-10.58,19.397c-11.352-9.809-21.561-20.76-29.977-33.504   C360.773,218.998,368.246,214.127,373.113,206.653z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M76.863,291.297c17.149,4.6,31.53,11.969,47.612,17.634   c-4.988,12.646-8.585,26.684-14.107,38.794c-16.553-3.432-30.089-9.881-45.849-14.107   C66.666,317.543,74.588,307.244,76.863,291.297z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M332.557,293.06c11.891,5.156,20.168,13.924,29.979,21.16   c-2.002,10.929-5.242,20.624-7.055,31.742c-12.957-7.615-23.699-17.445-33.504-28.215   C324.863,308.877,329.182,301.442,332.557,293.06z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M320.213,386.521c14.107,4.114,22.643,13.801,37.031,17.634   c1.113,10.641,2.502,21.011,1.764,33.505c-14.131-4.68-25.9-11.721-40.559-15.871C319.063,410.059,316.887,395.538,320.213,386.521   z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M27.487,462.346c18.901-0.09,34.002,3.619,52.903,3.527   c-4.762,16.4-5.649,36.674-10.581,52.902c-16.153-1.479-30.457-4.811-47.612-5.289C22.513,494.992,25.78,479.449,27.487,462.346z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M332.557,511.723c14.695,0,29.391,0,44.086,0   c4.316,15.078,14.289,24.504,17.633,40.559c-16.16-2.648-34.787-2.834-52.9-3.529C339.904,534.94,333.68,525.883,332.557,511.723z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>Rails/ RoR</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
            <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 service-tab service-col-size ml-3"><a>
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M306.368,38.329c10.912,9.103,14.875,25.153,24.304,35.741   c-8.278,14.12-17.856,26.938-28.593,38.599c-116.468,5.234-197.549,79.319-204.434,190.138   c-2.278,36.681,6.608,63.036,15.726,91.495c-13.403-5.182-29.312-7.858-42.888-12.867c-11.896,8.119-18.665,21.364-27.163,32.882   c-12.411-26.369-18.218-49.707-20.015-78.629C13.51,177.988,128.448,49.102,274.917,38.329   C285.963,37.516,297.021,38.96,306.368,38.329z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M324.952,39.759C494.392,52.963,628.491,230.517,553.69,421.463   c-14.425-0.128-26.374,2.22-40.03,2.859c-11.104-10.815-15.204-28.637-24.303-41.458   c41.885-138.221-44.922-256.219-170.123-268.767c7.088-13.878,17.324-24.61,27.162-35.74   C339.854,64.887,330.713,54.013,324.952,39.759z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M445.039,271.355c-47.537,71.041-98.928,129.799-147.249,194.427   c-33.944-37.247-64.886-76.628-97.213-117.228c-18.22-22.883-34.984-44.962-55.021-74.307   c22.809-27.703,53.785-53.688,77.894-80.092c25.065,0,48.386,0,72.91,0c23.372,0,23.372,0,72.91,0c0,0,28.658,28.659,38.601,38.6   C421.479,246.365,407.871,232.755,445.039,271.355z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M73.342,395.73c15.34,4.198,30.402,8.675,47.177,11.438   c32.744,57.048,83.673,103.546,165.834,108.649c98.956,6.147,163.601-51.347,195.855-118.657   c8.674,11.341,13.47,26.56,20.015,40.029c15.785-0.418,29.625-2.779,45.747-2.858c-48.957,89.22-129.688,163.449-267.335,155.827   c-118.617-6.57-187.695-77.649-233.026-160.116C54.828,417.245,63.41,405.814,73.342,395.73z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>Rspec</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
            <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 service-tab service-col-size ml-3"><a>
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                      <polyline fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" points="43.136,346.6 170.582,276.555 163.772,129.652   297.47,64.521 431.312,130.625 334.024,205.562 554.866,346.6 416.719,440.969 148.206,460.426 43.136,375.786 43.136,342.709 "></polyline>
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M441.782,123.933c0,48.046-0.571,98.061-0.571,146.108   c62.021,35.265,60.562,34.05,125.491,70.101c0,57.656,0,115.313,0,172.97c-57.044,28.888-57.106,30.537-139.335,76.873   c-67.265-38.624-67.265-38.624-124.922-72.069c-42.385,23.28-83.616,47.707-124.919,72.069   c-77.346-41.102-77.346-41.102-148.946-81.681c0-54.454,0-108.902,0-163.356c59.988-32.539,85.687-43.416,131.472-70.529   c0-48.047-1.745-102.439-1.745-150.485c80.354-45.504,71.18-40.783,139.334-76.875C374.933,88.364,374.933,88.364,441.782,123.933z    M297.642,66.276c-54.809,27.9-54.809,27.9-124.456,67.563c64.697,43.941,64.697,43.941,125.815,78.607   c-49.941,34.296-78.096,46.507-125.48,76.89c70.171,36.904,74.176,34.856,128.925,65.224   c38.938-23.526,57.38-36.037,122.501-71.551c0,46.449,1.704,94.95,1.704,141.394c120.834-74.65,3.299-2.039,120.834-74.65   c-83.924-45.802-166.727-86.779-248.483-137.306c67.453-40.861,77.515-46.827,126.159-80.553   C350.819,94.049,350.819,94.049,297.642,66.276z M47.8,354.559c41.389,24.27,82.988,48.334,124.92,72.064   c0-74.957,0.036-74.955,0.8-137.288C124.948,315.248,98.065,325.535,47.8,354.559z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>Rake</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
            <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 service-tab service-col-size ml-3"><a>
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M448.59,245.32c-16.23-4.242-36.459,5.451-54.07,2.253   c-14.175-2.573-26.922-18.796-40.555-24.783c-82.65-36.295-168.311,13.067-189.247,92.371   c100.631,5.256,211.025,0.751,315.412,2.253c31.781,199.566-202.669,276.165-315.412,162.211   c-24.787-25.053-46.911-62.022-51.817-105.889c-13.007-116.274,66.342-210.294,182.488-211.775   C369.535,161.015,422.742,200.494,448.59,245.32z M311.159,351.207c-47.642-12.55-68.26,46.515-33.794,74.348   c0,13.518,0,27.035,0,40.552c13.519,0,27.037,0,40.553,0c0-14.269,0-28.536,0-42.805   C345.209,406.888,338.453,358.397,311.159,351.207z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" stroke="#CE2030" stroke-width="12" stroke-miterlimit="10" d="M317.918,423.302c0,14.269,0,28.536,0,42.805   c-13.517,0-27.034,0-40.553,0c0-13.517,0-27.034,0-40.552c-34.465-27.833-13.847-86.897,33.794-74.348   C338.453,358.397,345.209,406.888,317.918,423.302z"></path>
                      </g>
                      <circle fill="none" stroke="#CE2030" stroke-width="12" stroke-miterlimit="10" cx="297.641" cy="342.196" r="276.448"></circle>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>Omniauth</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
            <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 service-tab service-col-size ml-3"><a>
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill="#0C88C4" d="M64.712,63.977c12.47-3.578,41.633-1.146,60.764-1.146c121.451,0,230.449,0,357.705,0   c22.192,0,48.479-1.967,55.031,4.586c9.597,9.599,4.586,39.243,4.586,57.323c0,16.962,3.27,48.321-4.586,56.179   c-7.078,7.078-39.041,4.586-57.324,4.586c-125.623,0-243.012,0-368.023,0c-18.977,0-49.616,1.976-56.178-4.586   c-7.681-7.682-4.586-34.312-4.586-60.765C52.101,96.487,46.867,69.097,64.712,63.977z M84.203,82.321c0,28.662,0,57.324,0,85.986   c4.581,1.712,13.762,1.712,18.344,0c0-29.426,0-58.853,0-88.279C98.459,79.351,84.678,75.891,84.203,82.321z M115.158,81.175   c0,29.044,0,58.088,0,87.133c4.581,1.712,13.762,1.712,18.344,0c0-29.426,0-58.853,0-88.279   C129.453,78.37,117.574,77.51,115.158,81.175z M146.113,82.321c0.751,28.292-1.512,59.602,1.146,85.986   c3.869,2.135,13.188,1.384,17.197,0c0-29.426,0-58.853,0-88.279C160.179,78.479,147.168,76.946,146.113,82.321z M178.214,82.321   c0,28.662,0,57.324,0,85.986c4.009,1.384,13.328,2.135,17.197,0c0-29.426,0-58.853,0-88.279   C191.954,78.961,178.195,76.221,178.214,82.321z M423.563,136.206c12.544-0.916,14.486-27.045-3.439-22.931   C404.767,116.802,411.285,137.102,423.563,136.206z M461.397,136.206c12.664-0.926,14.474-26.999-3.439-22.931   C442.583,116.768,449.131,137.102,461.397,136.206z M499.231,136.206c12.598-0.919,14.621-27.076-3.439-22.931   C480.435,116.802,486.953,137.102,499.231,136.206z"></path>
                        <path fill="#CE2030" d="M61.273,207.288c10.313-4.127,44.36-1.146,61.91-1.146c120.708,0,233.306,0,358.851,0   c23.034,0,49.604-2.426,56.178,3.439c8.438,7.53,4.586,38.994,4.586,57.323c0,20.106,5.177,48.552-4.586,57.324   c-6.944,6.239-40.535,3.439-58.471,3.439c-125.713,0-240.551,0-365.73,0c-16.897,0-49.9,3.23-57.324-3.439   c-7.853-7.056-4.586-36.186-4.586-58.471C52.101,240.684,47.842,212.662,61.273,207.288z M84.203,222.192   c0,29.427,0,58.854,0,88.279c3.896,1.838,14.447,1.838,18.344,0c0-29.045,0-58.088,0-87.133   C98.431,220.958,90.147,222.743,84.203,222.192z M115.158,225.632c0,28.279,0,56.561,0,84.84c3.896,1.838,14.447,1.838,18.344,0   c0-29.426,0-58.854,0-88.279C127.608,223.56,115.729,218.941,115.158,225.632z M146.113,225.632c0,28.279,0,56.561,0,84.84   c3.896,1.838,14.447,1.838,18.344,0c0-29.426,0-58.854,0-88.279C158.563,223.56,146.684,218.941,146.113,225.632z M178.214,222.192   c0,29.81,0,59.617,0,89.427c5.587-0.527,13.429,1.199,17.197-1.146c0-29.426,0-58.854,0-88.279   C189.679,222.192,183.947,222.192,178.214,222.192z M421.271,278.37c16.309,1.318,17.646-30.047-3.438-21.783   C402.653,262.534,415.253,277.884,421.271,278.37z M460.251,278.37c15.987,0.103,14.568-29.289-4.586-21.783   C443.75,261.256,448.421,278.294,460.251,278.37z M496.938,278.37c16.308,1.318,17.646-30.047-3.439-21.783   C478.321,262.534,490.921,277.884,496.938,278.37z"></path>
                        <path fill="#0C88C4" d="M62.419,349.452c10.611-3.833,43.903-1.146,61.91-1.146c121.751,0,232.769,0,357.705,0   c22.367,0,49.896-2.265,56.178,3.439c9.068,8.235,4.586,40.785,4.586,57.323c0,17.903,3.632,49.951-4.586,57.325   c-6.532,5.859-39.896,3.439-58.471,3.439c-124.268,0-240.862,0-365.73,0c-18.288,0-49.476,3.563-57.324-3.439   c-8.745-7.804-4.586-37.919-4.586-59.618C52.101,380.623,47.516,354.835,62.419,349.452z M84.203,367.796   c0,28.662,0,57.324,0,85.986c5.945-0.551,14.228,1.233,18.344-1.146c0-29.045,0-58.088,0-87.133   C98.8,364.485,84.44,361.602,84.203,367.796z M115.158,367.796c0,28.279,0,56.561,0,84.84c4.116,2.38,12.398,0.596,18.344,1.146   c0-29.426,0-58.854,0-88.279C129.755,364.485,115.396,361.602,115.158,367.796z M146.113,367.796c0,28.279,0,56.561,0,84.84   c4.116,2.38,12.398,0.596,18.344,1.146c0-29.426,0-58.854,0-88.279C160.71,364.485,146.351,361.602,146.113,367.796z    M178.214,364.356c0,29.81,0,59.618,0,89.426c5.732,0,11.465,0,17.197,0c0-29.809,0-59.617,0-89.426   C189.679,364.356,183.947,364.356,178.214,364.356z M410.952,413.656c3.968,13.477,30.805,6.882,21.783-11.465   C422.71,391.784,407.304,401.27,410.952,413.656z M448.786,406.776c-3.095,19.25,30.187,18.447,21.783-4.586   C463.182,394.396,450.262,397.593,448.786,406.776z M486.62,406.776c-3.095,19.25,30.187,18.447,21.783-4.586   C501.016,394.396,488.096,397.593,486.62,406.776z"></path>
                        <path fill="#CE2030" d="M64.712,491.615c12.47-3.579,41.633-1.146,60.764-1.146c121.451,0,230.449,0,357.705,0   c22.192,0,48.479-1.967,55.031,4.586c9.597,9.6,4.586,39.242,4.586,57.324c0,16.96,3.27,48.319-4.586,56.178   c-7.078,7.078-39.041,4.586-57.324,4.586c-125.623,0-243.012,0-368.023,0c-18.977,0-49.616,1.977-56.178-4.586   c-7.681-7.682-4.586-34.313-4.586-60.764C52.101,524.124,46.867,496.735,64.712,491.615z M84.203,508.814   c0,29.045,0,58.088,0,87.133c4.175,2.118,14.042,1.434,18.344,0c0-29.426,0-58.854,0-88.278   C98.127,506.379,86.876,504.893,84.203,508.814z M115.158,508.814c0,29.045,0,58.088,0,87.133c4.301,1.434,14.168,2.118,18.344,0   c0-29.426,0-58.854,0-88.278C129.083,506.379,117.831,504.893,115.158,508.814z M146.113,509.96   c0.751,28.292-1.512,59.602,1.146,85.985c3.564,1.829,13.633,1.829,17.197,0c0-29.426,0-58.854,0-88.278   C159.838,506.456,147.406,504.346,146.113,509.96z M178.214,509.96c0,28.661,0,57.323,0,85.985c3.564,1.829,13.633,1.829,17.197,0   c0-29.426,0-58.854,0-88.278C191.954,506.599,178.195,503.861,178.214,509.96z M422.417,563.845   c13.928,0.078,15.521-26.876-2.293-22.931C405.698,544.108,410.325,563.776,422.417,563.845z M460.251,563.845   c14.205,0.195,15.412-26.852-2.293-22.931C443.499,544.115,448.181,563.677,460.251,563.845z M498.085,563.845   c13.928,0.078,15.521-26.876-2.293-22.931C481.38,544.106,485.979,563.776,498.085,563.845z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>Rack</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
            <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 service-tab service-col-size ml-3"><a>
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M155.253,345.344c-24.98,33.454-105.584,33.935-98.46-30.229   c4.435-39.945,52.904-48.665,95.006-37.139c2.094-12.437,1.052-26.525-2.591-33.684c-13.438-26.411-60.49-8.097-81.187-3.455   c-1.687-4.935-0.522-12.721-0.864-19.001c20.236-14.872,65.861-24.13,93.279-7.773c36.357,21.69,12.793,81.114,23.319,119.189   c1.215,4.394,7.382,12.228,6.91,17.273c-0.555,5.921-14.633,15.288-19.865,14.683C162.74,364.278,160.061,351.404,155.253,345.344z    M91.34,304.751c-12.192,16.783-0.254,39.134,17.274,40.593c26.835,2.234,48.843-15.861,44.048-47.503   C133.788,293.791,102,290.077,91.34,304.751z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M524.049,238.247c-14.003-2.925-27.29-9.156-44.048-8.637   c-15.394,0.477-29.366,5.216-29.366,19.865c0,16.93,21.383,21.399,35.412,25.911c15.954,5.13,32.211,9.362,40.593,19.865   c16.97,21.263,4.107,52.802-12.955,63.913c-27.281,17.766-71.128,10.782-92.415-5.182c-1.195-4.579-2.049-15.71,0.864-19.001   c16.069,3.062,29.921,10.831,50.957,10.364c15.061-0.334,33.198-5.48,32.82-22.456c-0.515-23.158-44.967-24.539-61.322-33.684   c-10.041-5.615-20.802-19.082-22.455-31.093c-7.046-51.187,67.666-65.543,102.778-38.866   C526.108,223.824,526.961,234.955,524.049,238.247z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M201.029,210.609c8.327,0.31,18.052-0.778,25.047,0.864   c14.077,36.593,20.587,80.752,32.82,119.189c11.287-38.232,17.089-81.948,30.229-118.326c6.175-3.158,20.089-1.799,27.638-0.864   c13.303,37.08,20.312,80.453,30.229,120.917c13.984-37.837,19.689-83.952,34.548-120.917c7.004-1.156,18.983-1.61,25.911,0   c1.408,13.646-5.635,26.347-9.501,38.866c-11.488,37.199-21.979,77.58-37.139,113.144c-7.863,1.24-21.897,1.955-28.502-0.864   c-11.609-37.333-19.785-78.099-29.365-117.462c-11.627,38.179-16.935,82.678-31.093,118.326c-7.711,1.354-19.927,1.354-27.638,0   c-17.251-47.531-33.405-100.747-45.775-150.283C198.921,211.956,199.785,211.093,201.029,210.609z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M556.869,409.258c3.136,20.513-3.414,38.882-10.364,53.549   c-6.569,13.862-14.079,30.415-30.229,34.548c1.697-22.536,19.701-40.714,15.546-69.096c-15.601-13.096-51.822-1.977-72.55-4.319   c4.259-13.715,32.333-21.085,50.958-22.455C527.577,400.208,545.604,401.681,556.869,409.258z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M36.064,410.985c7.987-3.936,19.314,6.813,27.638,11.229   c54.694,29.012,117.908,50.877,198.649,57.003c84.972,6.447,161.105-10.147,221.105-33.684c5.397-2.117,8.539-5.136,12.091-6.046   c2.726-0.698,10.293-3.83,13.819,2.592c4.033,7.343-9.867,16.168-18.138,21.592c-55.93,36.678-137.487,62.58-233.196,53.549   c-85.833-8.1-150.572-41.089-203.831-84.642C48.729,428.102,33.695,419.115,36.064,410.985z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>AWS</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
            <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 service-tab service-col-size ml-3"><a>
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill="#0C88C4" d="M96.057,114.193c29.538-6.099,79.84-1.732,116.142-1.732c77.056,0,146.559,0,228.818,0   c37.5,0,83.185-3.487,100.539,13.867c20.677,20.676,13.869,91.174,13.869,124.81c0,87.077,0,182.167,0,277.354   c0,42.756,8.459,109.646-17.336,128.275c-20.233,14.613-72.785,10.399-112.676,10.399c-83.516,0-164.272,0-246.151,0   c-41.294,0-91.166,4.175-109.208-13.866c-16.732-16.732-13.867-70.015-13.867-117.875c0-101.027,0-226.729,0-327.625   C56.188,157.252,51.693,123.351,96.057,114.193z M97.791,141.927c-23.694,7.595-13.868,89.175-13.868,114.409   c0,67.174,0,188.559,0,256.553c0,24.43-7.434,108.639,6.935,121.342c16.62,14.695,86.405,5.201,105.741,5.201   c81.279,0,135.787,0,221.882,0c25.786,0,92.502,6.082,104.008-6.937c13.397-15.151,5.201-86.041,5.201-119.606   c0-91.5,0-171.887,0-249.619c0-25.316,8.639-104.106-6.935-117.875c-7.67-6.782-32.44-5.201-46.805-5.201   c-91.043,0-178.356,0-265.219,0c-31.396,0-81.991-5.775-107.475,1.733C100.199,142.24,98.84,141.591,97.791,141.927z"></path>
                        <path fill="#CE2030" d="M236.467,195.665c0,52.004,0,104.008,0,156.011c41.57-10.231,110.712-29.452,152.544-6.934   c65.265,35.131,34.744,146.379,41.604,239.218c-18.49,0-36.979,0-55.472,0c0-29.537,0-59.222,0-91.873   c0-29.259,7.252-68.08-3.467-88.406c-13.813-26.2-75.164-10.553-100.541-3.469c-34.647,9.674-62.149,23.112-88.406,36.403   c-2.891-76.273-2.891-164.679,0-240.951C200.643,195.665,218.555,195.665,236.467,195.665z"></path>
                        <path fill="#CE2030" d="M430.615,195.665c-4.611,39.303-21.025,66.803-41.604,90.14c-17.334,0-34.67,0-52.004,0   c-2.955-5.571,4.875-11.369,8.668-17.335c11.463-18.026,22.984-42.413,27.736-67.605c0.916-1.394,1.807-2.813,1.731-5.199   C393.637,195.665,412.125,195.665,430.615,195.665z"></path>
                        <path fill="#CE2030" d="M180.997,473.02c21.443,17.27,40.093,37.334,62.404,53.736c-18.328,19.813-43.412,42.102-62.404,55.471   C180.997,545.823,180.997,509.422,180.997,473.02z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>Heroku</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
            <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 service-tab service-col-size ml-3"><a>
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M215.17,130.145c0.543,1.49-1.459,2.767-2.188,3.5   c-27.325,27.437-46.329,61.948-56.439,108.066c-3.476,15.855-6.582,33.549-5.25,50.752c1.388,17.93,2.575,36.671,1.75,54.689   c-0.847,18.501-4.357,36.19-1.75,52.939c4.902,31.492,22.926,54.486,43.314,70.878c-7.596,9.301-16.056,18.627-24.501,28.439   c-8.338,9.688-15.949,20.628-25.376,27.564c-6.976,5.129-15.783,9.09-26.688,4.81c-15.746-6.176-26.548-24.947-35.439-41.563   c-9.193-17.182-16.361-35.813-22.75-54.253c-13.207-38.11-23.241-78.624-31.501-122.505c-4.177-22.19-8.751-43.965-8.751-68.252   c0-74.536,28.932-129.554,98.003-134.317C157.473,108.145,186.633,120.341,215.17,130.145z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M496.055,446.031c-2.76-4.095-5.811-7.897-8.313-12.251   c7.197-12.522,11.822-26.231,13.124-43.75c1.268-17.046-2.862-34.462-4.374-51.19c-3.111-34.426,11.394-71.693,1.313-102.817   c-8.914-27.524-24.78-51.226-42-71.314c-17.692-20.637-38.637-37.687-63.441-49.439c40.223-10.719,87.745-0.948,117.254,14   c11.202,5.673,22.053,12.86,31.939,21.438c9.794,8.498,22.242,19.649,27.127,31.063c9.245,21.61,5.298,52.513,0.873,77.44   C556.825,330.952,525.85,395.346,496.055,446.031z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M468.929,242.149c-42.556,3.301-71.888,27.014-68.251,73.503   c1.509,19.309,8.838,38.278,15.313,53.376c13.961,32.558,32.292,62.606,51.188,86.629c-20.542,15.475-24.501,47.637-24.501,84.003   c0,26.147,2.468,55.077-1.313,78.753c-3.646,22.844-12.169,40.032-26.25,53.814c-11.633,11.387-32.643,26.769-56.438,20.564   c-20.858-5.443-30.195-24.567-37.189-42.879c-11.424-29.908-9.188-69.907-9.188-110.69c0-13.434,1.08-27.029-0.874-38.939   c-3.553-21.631-19.959-32.205-42.002-37.627c7.604-20.291,18.481-42.673,23.625-68.252c5.25-26.105,4.524-57.414,0-84.002   c-4.842-28.462-10.738-47.787-32.375-59.502c-20.19-10.932-54.652-9.64-75.691,0.438c13.869-64.688,45.248-122.562,118.128-126.005   c45.265-2.138,81.348,14.288,106.754,34.564C436.767,181.366,455.599,208.658,468.929,242.149z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M257.609,289.4c-7.575-3.902-31.833-7.474-33.688,3.063   c-1.501,8.509,10.679,19.233,17.063,21.438c9.348,3.229,16.184-1.508,22.313-5.25c4.832,26.776,6.178,57.788,0.436,83.566   c-5.475,24.591-17.918,45.256-24.062,67.814c-17.848-3.297-30.149-12.588-40.252-24.501   c-11.371-13.409-21.228-31.904-19.688-57.314c0.881-14.516,3.064-29.192,3.064-44.626c0-15.19-1.497-30.361-2.188-45.502   C195.016,271.902,247.835,262.483,257.609,289.4z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M492.555,474.906c15.254,7.945,37.947,6.87,57.754,3.501   c8.897-1.515,18.465-5.968,25.374-0.436c-0.895,9.517-9.895,14.885-17.063,19.687c-20.635,13.819-51.068,24.779-86.191,20.127   C473.669,498.024,477.549,480.904,492.555,474.906z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M244.921,490.656c-0.081-0.369,0.17-0.411,0.438-0.436   c19.618-0.081,36.135,1.868,37.189,19.689c0.124,2.104,0.954,5.906,0.437,7.875c-1.269,4.825-12.46,8.792-18.376,10.938   c-17.293,6.268-38.684,6.327-59.064,2.188c-9.408-1.912-25.376-4.322-25.376-12.689c0-8.889,22.044-12.968,30.626-14.875   C223.602,500.5,236.565,496.336,244.921,490.656z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M471.554,271.901c-1.223,22.751-6.332,45.292-4.375,68.689   c1.858,22.218,8.824,45.259,1.313,65.628c-15.283-29.051-33.274-55.396-38.5-94.504c3.568-0.12,5.604,2.541,10.499,3.063   c11.247,1.198,27.85-7.854,25.812-20.125c-1.736-10.479-20.692-10.755-31.061-7C440.839,277.644,455.606,273.015,471.554,271.901z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>PostgreSQL</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
            <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 service-tab service-col-size ml-3"><a>
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M276.266,112.392c51.292-2.443,96.919,2.241,140.241,9.256   c20.126,3.259,42.063,7.354,62.483,12.497c20.853,5.252,39.342,10.28,54.153,20.365c15.118,10.294,25.983,23.81,32.861,42.119   c6.608,17.594,7.879,40.535,9.719,64.797c3.563,46.961,2.546,99.152-4.628,139.778c-26.763,151.576-122.091,255.646-244.379,316.12   c-3.548,1.755-7.994,4.117-12.498,6.018c-4.989,2.105-12.208,5.656-15.273,4.629c-32.683-10.961-66.403-31.552-93.031-50.45   C123.423,618.978,59.306,534.424,33.737,420.645C25.466,383.842,21,335.257,23.092,289.198c1.04-22.884,3.163-45.119,5.554-66.187   c4.79-42.197,26.519-68.906,62.484-80.534c34.769-11.241,77.506-19.154,118.487-24.531   C230.26,115.239,251.346,113.578,276.266,112.392z M493.338,494.236c20.391-40.557,34.656-90.883,37.491-150.422   c1.306-27.413,0.588-61.729-1.389-90.718c-1.082-15.87-1.378-30.322-6.018-41.192c-8.62-20.198-24.166-24.908-46.746-30.548   c-24.375-6.088-50.644-11.361-76.369-15.273c-52.227-7.943-110.884-10.258-164.772-4.628c-32.185,3.362-62.048,8.8-91.18,15.274   c-31.697,7.044-62.875,10.63-69.889,42.119c-2.729,12.255-2.722,26.261-3.703,39.804c-2.993,41.337-2.987,86.475,2.777,124.041   c22.907,149.295,114.522,240.303,227.254,295.292C385.236,639.107,450.954,578.541,493.338,494.236z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" d="M300.334,204.497c0.375,0.088,0.461,0.465,0.926,0.463   c43.938,44.216,81.112,94.588,89.79,172.177c8.485,75.85-21.414,128.793-59.243,166.623c-2.051,2.052-5.268,4.805-8.331,7.868   c-2.604,2.605-7.281,6.192-7.868,8.332c-1.694,6.177,0,15.449,0,22.679c0,8.237,0,15.8,0,22.68c-10.183,0-20.365,0-30.547,0   c0-6.925,0-14.494,0-22.68c0-7.138,1.543-16.014,0-22.217c-0.991-3.983-13.16-13.622-16.2-16.662   c-36.938-36.938-68.42-89.288-59.707-166.623c8.625-76.532,46.487-128.581,89.792-171.714   C299.285,204.991,299.787,204.722,300.334,204.497z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>MongoDB</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
            <div class="col-xs-6 col-md-4 col-sm-3 col-lg-2 service-tab service-col-size ml-3"><a>
              <div class="col-xs-12 col-md-4 col-picture" style="padding: 0;">
                <div class="block-image-stage my-block-image-stage size-block-image-stage margin-auto ">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Слой_1" x="0px" y="0px" width="595.281px" height="841.891px" viewBox="0 0 595.281 841.891" enable-background="new 0 0 595.281 841.891" xml:space="preserve" class="svg replaced-svg">
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#0C88C4" d="M38.67,87.552c178.824,0,357.654,0,536.478,0   c-16.585,183.567-32.993,367.318-49.22,551.243c-74.352,19.16-147.121,39.907-219.839,60.703   c-73.618-20.993-148.935-40.282-221.482-62.343C69.768,454.576,51.789,275.132,37.028,92.476   C36.887,90.146,36.758,87.828,38.67,87.552z M139.29,199.091c-3.414,20.377,2.125,45.499,2.747,67.306   c89.928,1.048,173.903-2.016,259.204,1.622c-6.618,75.413-14.202,149.858-21.325,224.764c-26.5,5.218-50.785,16.853-75.777,23.578   c-23.693-9.119-53.442-15.766-75.16-26.859c-2.227-16.369-2.575-34.611-4.92-50.86c-22.422,0-44.845,0-67.266,0   c1.786,35.949,5.116,70.352,8.205,104.999c44.888,14.173,93.145,24.978,137.809,39.375c45.75-14.408,96.886-23.428,139.451-41.015   c11.716-112.422,21.377-226.903,31.174-341.247C359.679,201.852,253.1,197.934,139.29,199.091z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#CE2030" stroke="#CE2030" stroke-width="12" stroke-miterlimit="10" d="M473.431,200.752c-9.797,114.344-19.522,229.841-31.238,342.262   c-45.54,16.05-84.618,25.579-139.387,40c-44.664-14.397-92.92-25.202-137.809-39.375c-3.089-34.647-6.418-69.05-8.205-104.999   c22.421,0,44.844,0,67.266,0c2.345,16.249,2.694,34.491,4.92,50.86c28.712,9.553,45.909,14.56,75.469,22.968   c24.991-6.726,48.968-14.469,75.468-19.687c7.123-74.905,14.707-149.351,21.325-224.764c-85.301-3.637-170.926-0.592-260.854-1.64   c-0.85-22.852-1.911-45.258-3.28-67.265C250.917,197.956,347.876,200.421,473.431,200.752z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text-center col-name"><h4>JavaScript</h4>
                <div class="text-service"></div>
              </div>
            </a></div>
          </div>
        </div>
      </div>

    </div>
  </section>


  <section class="bg-default">
    <div class="container">
      <div class="row ">
        <div class="col-sm-12">
          <h2 class="text-center  line"></h2>
          <div class=" text-header-service content-page over-blue-block">
            <p>
              <span style="font-weight: 400;">Ruby is one of the fastest growing technologies in the field thanks to its flexibility, functionality and resources. We take advantage of its rich features including APIs, complementary modules and Extensive Ruby Gems library. All these features have enabled us to create reliable business enterprise solutions.</span>
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section-md bg-gray-lighter">
    <div class="container">
      <div class="row rows-block-align-center row-20 justify-content-md-center justify-content-lg-start">
        <div class="col-md-6 min-980-padding-20">
          <div class="my-text-purple-block">
            <div class="red-figure">&nbsp;</div>
            <div class="left-block">
              <div class="str-name">
                <h3>Web Apps</h3>
              </div>
              <div class="str-content">
                <p>We develop web portals with rich features and functionality so that your clients find it comfortable to use. We ensure stability, responsiveness and smooth functionality for the maximum output.</p>
              </div>
              <div class="str-name">
                <h3>RoR Web Applications</h3>
              </div>
              <div class="str-content">
                <p>We leverage all the features of Ruby on Rails framework to create web applications which will have excellents features with reliable codes on both ends - frontends and backends. Our dedicated Engineers will ensure a user-friendly user interface.</p>
              </div>
              <div class="str-name">
                <h3>Rails CMS Development</h3>
              </div>
              <div class="str-content">
                <p>Our team at Syftet  is highly experienced in using RoR technology for CMS development. We always make sure you have a high quality and smart design and your web portal is easy to work with.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 min-980-padding-20">
          <div class="my-text-blue-block">
            <div class="blue-figure">&nbsp;</div>
            <div class="right-block">
              <div class="str-name">
                <h3>RoR Enterprise Applications</h3>
              </div>
              <div class="str-content">
                <p>Our team is experienced in using RoR for enterprise applications. Your website will work across all devices and platforms. We will ensure your Enterprise applications have smooth functionality.</p>
              </div>
              <div class="str-name">
                <h3>eCommerce</h3>
              </div>
              <div class="str-content">
                <p>Our Ruby on Rails team has developed many eCommerce sites which are very predictable and easy to work with. With rich features and functionality, your customers will have an excellent shopping experience .</p>
              </div>
              <div class="str-name">
                <h3>RoR Porting and Migration</h3>
              </div>
              <div class="str-content">
                <p>
                  If you are thinking of modifying and changing your existing product and convert it into a high quality and great functionable web app, you can seek help from our experts who will guide and support you to build web applications or desktop applications by Ruby on Rails.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section-md bg-default">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center line">WHY WE USE RUBY ON RAILS</h2>
          <div class="text-header-service content-page">
            <p>
              <span style="font-weight: 400;">Ruby is one of the fastest growing technologies thanks to its rich features and functionality. Its sophisticated features have helped its users to develop web applications with more secured codes. RubyGems library empowers you to create your enterprise solutions based on your needs and our experts are fully dedicated to take advantage of all its features.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container chamomile-block-ruby">
      <div class="chamomile-block-bg-image" style="text-align: center;">
        <div class="left-flowers-row">
          <div class="col-xs-10 col-xs-offset-1 left-flowers-block">
            <div class="top-left flowers-color">
              <div class="flowers-name">FAST TIME‑TO‑MARKET</div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 left-flowers-block">
            <div class="midle-left flowers-color">
              <div class="flowers-marker">STABILITY AND MAINTAINABILITY</div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 left-flowers-block left-flowers-block-mg">
            <div class="bottom-left flowers-color">
              <div class="flowers-marker">RICH FEATURE SET</div>
            </div>
          </div>
        </div>
        <div class="right-flowers-row">
          <div class="col-xs-10 col-xs-offset-1 right-flowers-block">
            <div class="top-right flowers-color">
              <div class="flowers-marker">FLEXIBILITY</div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 right-flowers-block">
            <div class="midle-right flowers-color">
              <div class="flowers-marker">QUALITY</div>
            </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1 right-flowers-block right-flowers-block-mg">
            <div class="bottom-right flowers-color">
              <div class="flowers-marker">PRODUCTIVITY</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-md bg-gray-lighter">
    <div class="container" style="padding-top: 40px;">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center line">RUBY ON RAILS DEDICATED DEVELOPMENT TEAM</h2>
          <div class="text-header-service content-page">
            <p>
              <span style="font-weight: 400;">Our dedicated team works with all clients interested in building their project with Ruby on Rails. Syftet has more than six years experience in developing web applications and enterprise solutions. We have always maintained a high quality service to all our customers thanks to our expertise in Ruby on Rails. We have gained extensive knowledge on Ruby on Rails and with that we ensure flawless communication and efficiency in your tool.</span>
            </p>
            <div class="net-development-approach-list">
              <div class="row">
                <div class="col-sm-6">
                  <ul>
                    <li><b>Work at any scale:</b> No matter what your project size is. Our team is ready to help and guide you to finish it off before deadlines.
                    </li>
                    <li>
                      <b>Direct Control:</b> Either you want us to help your existing project or we can create a new software for you. You can directly control your project progress directly with our assistance.
                    </li>
                    <li>
                      <b>Price Advantage:</b> We provide the best rate when it comes to software development in Bangladesh. We ensure  quality service but with an affordable fee.
                    </li>
                    <li>
                      <b>High quality and Rich technical expertise:</b>  We prioritize quality and talented software Engineers. Our team is full of expertise . While junior developers have 3+ years experience, our senior  engineers have 10+ years experience in this field.
                    </li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul>
                    <li>
                      <b>Scalable teams:</b> We can minimize and increase the size of our team based on your requirement. We employ our resources depending on need. You can pay only what you want to pay.
                    </li>
                    <li>
                      <b>Mature infrastructure and Management process:</b> Our management is highly qualified and we ensure consistent support. Our experienced team members can collaborate with your project for an effective outcome.
                    </li>
                    <li>
                      <b>Flexibility:</b> We <b>don’t rely on</b> a specific set of tools. Our team is ready to integrate any new tools that will make your software much more effective.
                    </li>
                    <li>
                      <b>Quick hiring process and Zero cost:</b> We’ve built dedicated teams in years, but you can hire them instantly with no extra cost.
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<section class="section-md bg-default">
  <%= render 'homes/shared/start_project_form', contact: @contactinfo %>
</section>
