<section id="about-us" class="about-us section-md">
  <div class="container pt80x pb20x">
    <div class="row ">
      <div class="col-md-7 mb20">
        <div class="themesflat-headings style-1 clearfix">
          <h4 class="heading-decorated letter-spacing--09px clearfix">WE HAVE A WIDE BREADTH OF <br> EXPERIENCE</h4>
          <p class="sub-heading mt10 fz18">
            <strong> We are independent and free from third party influence. </strong>
          </p>
          <div class="sep clearfix"></div>
          <p>
            Syftet is a fast growing software product and services company in Bangladesh. Our journey started
            in 2016, But within a very short time, Syftet successfully tracked records of delivering innovative and
            cost-effective technical services to customers in both Corporate and Public sectors. We follow agile
            methodologies for developing software. We have a team of talented engineers and they are fully
            devoted to serving the customers in software developing problems. We are experts in Ruby on Rails,
            .Net, PHP, Java, Android. Building valuable relationship by providing desired final product is the
            main goal of Syftet. It always continuously works to satisfy the customers. We have professionalized
            us in software development area. Syftet also works to innovate and to have continues development
            in the process. It has launched several applications. It works with Bequent, Secret Chat, Biometric
            Authentication, School Management, Point of Sale(POS) for the easier life of the customers.
          </p>
          <a href="https://www.youtube.com/channel/UCVPyFdbHv5haeqL-3bpVIEg/videos" target="_blank" class="button button-primary">WATCH MORE VIDEO</a>
        </div><!-- /.themesflat-headings -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-5 mb20 half-background style-1" style="height: 388px;">
        <div class="themesflat-icon style-1 clearfix background">
          <a href="#syftet-video" data-toggle="modal" class="icon-wrap popup-video">
            <span class="icon"><i class="pl5 fa fa-play"></i></span>
          </a>
        </div><!-- /.themesflat-icon -->
      </div><!-- /.col-md-6 -->
    </div>
  </div>

  <!-- Syftet Video -->
  <div class="modal fade" id="syftet-video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lgx" role="document">
      <div class="modal-content">
        <div class="modal-body video-wrap">
          <iframe width="470" height="420"
                  src="https://www.youtube.com/embed/eQwXqXX8imc">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>