<section class="section-md bg-gray-lighter text-center">
  <div class="feat bg-gray pt-5 pb-5">
    <div class="container">
      <div class="row content-responsive">
        <div class="section-head col-sm-12">
          <div class="explore-our-services-title-wrapper">
            <div class="container">
              <div class="row explore-our-services-title">
                <h2>Why Choose Us?</h2>
                <p class="margin-bottom font-size-p" style="text-align:
                  center;margin-bottom: 50px;
                  font-size: 20px;
                  line-height: 1.34783;
                  font-weight: 400;
                  letter-spacing: .01em;
                  color: #333;">
                  When you choose us, you'll feel the benefit of 10 years' experience of Web Development. Because we know the digital world and we know that how to handle it. With working knowledge of online, SEO and social media.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item-why-chose-us"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
            <h6>Modern Design</h6>
            <p>We use latest technology for the latest world because we know the demand of peoples.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item-why-chose-us"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
            <h6>Creative Design</h6>
            <p>We are always creative and and always lisen our costomers and we mix these two things and make beast design.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item-why-chose-us"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
            <h6>24 x 7 User Support</h6>
            <p>If our customer has any problem and any query we are always happy to help then.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item-why-chose-us"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
            <h6>Business Growth</h6>
            <p>Everyone wants to live on top of the mountain, but all the happiness and growth occurs while you're climbing it</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item-why-chose-us"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
            <h6>Market Strategy</h6>
            <p>Holding back technology to preserve broken business models is like allowing blacksmiths to veto the internal combustion engine in order to protect their horseshoes.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="item-why-chose-us"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
            <h6>Affordable cost</h6>
            <p>Love is a special word, and I use it only when I mean it. You say the word too much and it becomes cheap.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="desktop-soft-button read-more ">
      <button class="full-case-study-butt">
        <div style="    font-size: 19px;">Know More About Us</div>
      </button>
   </div>

  <span class="dn">
    <section class="section-md bg-gray-lighter text-center">
      <div class="explore-our-exp-title-wrapper">
        <div class="container">
          <div class="row explore-our-exp-title" style="font-size: 21px;">
            <p class="content-p">
              SYFTET Limited is the best software company in Bangladesh that takes full pride in its quality service. Over
              the years, Bangladesh has witnessed a significant improvement in its technological sectors, especially in
              developing modern software. Syfted Limited has always managed to render quality services for its clients
              thanks to its highly qualified team and has become an invaluable part of Bangladesh’s success in technology.
            </p>
              <p class="content-p">
                Syftet Limited takes pride in the expertises of its every team member and its clients’ satisfactions. As a
                result, Syfted has successfully accomplished 500+ small and large projects for clients all over the world. It is
                the excellence and the ability to meet clients’ expectation with deadlines that have helped Syfted Ltd to reach
                such a height to both our national and international clients as a Software company.
              </p>


              <p class="content-p">
                This software firm in Bangladesh maintains that creativity of an employee matters a lot as this helps render the
                best service with maximum client satisfaction. Therefore, creativity is highly encouraged in the workspace and
                to ensure the maximum output, all talented engineers are given training and motivation on a regular basis. We
                also get our team updated with the latest technology and help our clients get their customised software with
                100% positive satisfaction. Our priority is to value all the opinions even if they come from the most junior
                member of our team. We believe this friendly environment leads our team to flourish in its field.
              </p>


              <p class="content-p">
                Our software firm in Dhaka has accommodated a group of engineers who have incredible expertise in Ruby on Rails,
                .Net, PHP, Java, Android. Our primary focus is on building up a long term relationship and so we provide our
                customers with quality services and the most efficient software, not to mention that we are highly committed and
                devoted to our work. Our unparalleled skills have already grabbed the attention of a plethora of clients both
                from Bangladesh and abroad. A good number of mobile applications have already launched and they are working
                absolutely fine for our clients . We work with Bequent, Secret Chat, Biometric Authentication, School Management
                and Point of Sale(POS) that help make our client’s life easier and allow them to focus on other important tasks
                at their office.
              </p>

              <p class="content-p">
                We are absolutely convinced that we are destined to become one of the top software development companies in
                Bangladesh and for this reason we have characterised ourselves to set examples for others about what to do when
                it comes to delivering quality products. We have never stopped developing something new and the best that would
                set a benchmark in the field. This motivation always pushes our team to work harder with integrity and a vision
                to go ahead.
              </p>

              <p class="content-p">
                The courage that our team has is absolutely extraordinary, and we believe our courage and relentless efforts
                will always be our company to fulfill our customer’s dream. We consider that your dream is bigger than us and
                this is why we work incessantly and put our best endeavour to design and develop a piece of software that will
                bring appreciation from our clients.
              </p>
            </p>
          </div>
        </div>
      </div>
    </section>
  </span>
</section>




<script type="text/javascript">
    $(function () {
        $('.read-more').click(function () {
            var obj = $(this).parent();
            var paraOne = obj.find('.read-more').remove();
            var paraTwo = obj.find('span').removeClass('dn');
        })
    })
</script>
