.maintenance p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.0045em;
  color: rgb(134, 146, 152);
  font-family: 'Inter-Regular';
  font-size: 21px;
  color: #6E7b81;
  line-height: 35px;
  margin: 28px 0;
}


.maintenance h2 {
  font-size: 42px;
  font-family: 'Inter-Black' !important;
  color: #374046;
}
.seo-plans {
  background: linear-gradient(
                  0deg
          , rgba(210, 220, 238, 0.3) 25.77%, rgba(210, 220, 238, 0) 76.11%);
}
.seo-plans .seo-plan-types {
  margin-bottom: 40px;
}

.seo-plans a.action-link {
  margin: 0 auto;
  display: table;
}
a.action-link {
  font-family: 'Inter-Regular', Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #207DE9;
}

.chevron-right-blue:after {
   background-repeat: no-repeat;
   margin-left: 10px;
 }
.feather-icon:after {
   width: 24px;
   height: 24px;
   content: "";
   display: inline-block;
   position: absolute;
 }

.subscriptions-plan-format-1 .plan:nth-child(n) {
  padding-left: 5px;
  padding-right: 0px;
}
.subscriptions-plan-format-1 .plan:nth-child(1) .header {
  background: #4C74B9;
}
.subscriptions-plan-format-1 .plan:nth-child(2) .header {
  background: #305493;
}
.subscriptions-plan-format-1 .plan:nth-child(3) .header {
  background: rgb(38, 58, 95);
}

.subscriptions-plan-format-1 .plan .header {
  width: 100%;
  padding: 40px;
  float: left;
}

.subscriptions-plan-format-1 .plan .header .name {
  color: #FFFFFF;
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .subscriptions-plan-format-1 .plan .header .btn-send-proposal {
    font-size: 18px;
  }
  .green-primary-btn {
    font-size: 12px !important;
  }
  .video-wrapper {
    top: -286px !important;
    right: 84px !important;
  }
  .testimonials {
    background: linear-gradient(90deg, #1C2D47 63%, #1C2D47 37%) !important;
    padding-top: 200px !important;
  }
  #sidebar-wrapper {
    display: none;
  }
  table{
    width:100%;
  }
  td{
    display:block;
    width:100%;
  }
  tr{
    display:block;
    margin-bottom:30px;
  }
}
.subscriptions-plan-format-1 .plan .header .btn-send-proposal {
  width: 100%;
  text-align: center;
  padding: 16px;
  float: left;
}
.subscriptions-plan-format-1 .plan .header .billing .price {
  font-family: 'Inter-Black', Sans-Serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.042em;
  color: #FFFFFF;
}
.subscriptions-plan-format-1 .plan .header .billing .cycle {
  font-family: 'Inter-Regular', Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 35px;
  letter-spacing: -0.0055em;
  color: #FFFFFF;
}
.btn-secondary {
  background-color: #FFD12D;
  color: #374046;
  padding: 20px 40px;
  border-radius: 2px;
}
.subscriptions-plan-format-1 .plan:nth-child(1) ul.features-list {
  background-color: white;
}
.subscriptions-plan-format-1 .plan:nth-child(3) ul.features-list {
  background-color: white;
}
.subscriptions-plan-format-1 .plan:nth-child(2) ul.features-list {
  background: #F2F6FC;
}
.subscriptions-plan-format-1 .plan ul.features-list {
  width: 100%;
  float: left;
  clear: both;
}
.subscriptions-plan-format-1 .plan ul.features-list li:not(:last-child) {
  border-bottom: 1px solid #D2DCEE;
}
.subscriptions-plan-format-1 .plan ul.features-list li {
  font-family: 'Inter-Regular';
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.0045em;
  color: #374046;
  padding: 28px;
}

.subscriptions-plan-format-1 .plan ul.features-list li {
  background-image: url('icon-check.png');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
  padding-left: 50px;
}
@media (max-width: 1025px) {
  .subscriptions-plan-format-1 .plan {
    margin-bottom: 24px;
    width: 100%;
    height: auto;
    display: block;
    float: left;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}




.discover-businesss-costs {
  padding-top: 0px!important;
}
.discover-businesss-costs {
  background: #FFFFFF!important;
}

.discover-businesss-costs ul.web-design-services {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.discover-businesss-costs .web-design-services .card {
  width: 100%;
}
.discover-businesss-costs ul.web-design-services li {
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
}
.discover-businesss-costs ul.web-design-services li .inner {
  padding: 48px;
  background: #263A5F;
  border-radius: 3px;
  min-height: 448px;
  height: 100%;
}
.discover-businesss-costs ul.web-design-services li .inner {
  background: #F2F6FC!important;
  border-radius: 3px!important;
  margin-bottom: 0px!important;
}
.discover-businesss-costs .card .inner {
  min-height: 320px!important;
}
.discover-businesss-costs ul.web-design-services li .inner span {
  white-space: break-spaces;
}

.discover-businesss-costs ul.web-design-services li .inner span {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 24px !important;
  line-height: 32px;
  letter-spacing: -0.018em;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 24px;
  float: left;
}
.discover-businesss-costs ul.web-design-services li .inner span {
  line-height: 32px;
  letter-spacing: -0.018em;
  color: #374046!important;
}
.discover-businesss-costs ul.web-design-services li .inner p {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.0045em;
  color: #ABB9C2;
  margin: 0px;
  text-align: left;
}

.discover-businesss-costs p {
  margin: 0px;
}
.discover-businesss-costs p {
  font-weight: normal!important;
  font-size: 21px!important;
  line-height: 35px!important;
  text-align: center;
  letter-spacing: -0.0055em;
  color: #869298!important;
}

.discover-businesss-costs ul.web-design-services li p a {
  width: 100%;
  margin-bottom: 8px;
  display: block;
}


.looking-increased-roi h2.looking-increased-roi-title, .looking-increased-roi h2 {
  max-width: 615px;

  font-size: 42px;
  font-family: 'Inter-Black';
  color: #374046;

}
.looking-increased-roi p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.0045em;
  color: #0b0c0c;
  margin: 28px 0;
}
.looking-increased-roi .content ul li {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.0045em;
  color: #0e0f10;
  margin-bottom: 24px;
  list-style: inside;
}
.looking-increased-roi .h4 {
  font-size: 24px;
  font-family: 'Inter-Medium';
  color: #374046;
}
ol li {
  background: rgb(239,243,249);
  background: linear-gradient(
                  90deg
          , rgba(239,243,249,1) 11%, rgba(255,255,255,1) 30%);
  list-style-position: inside;
  color: #374046;
  font-weight: normal;
  font-family: 'Inter-Medium';
  font-size: 18px;
  line-height: 1.5em;
  padding: 11px 12px;
}
.looking-increased-roi .content ol li {
  font-weight: normal;
  font-family: 'Inter-Regular';
  margin-bottom: 40px;
}
.img-responsive, .col-md-7 > img, .col-md-7 center img, .col-md-7 p img {
  display: block;
  max-width: 100%;
  height: auto;
}

.looking-increased-roi img {
  width: 100%;
}
.looking-increased-roi .clutch-rating {
  background: #1C2D47;
  border-radius: 8px;
  width: 100%;
  height: auto;
  float: left;
  padding: 48px;
  display: block;
  margin-bottom: 48px;
}
.looking-increased-roi .clutch-rating h3 {
  color: #FFFFFF;
  margin-top: 0px;
  max-width: 356px;
  margin-bottom: 18px;
  display: block;
  font-family: 'Inter-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.018em;
}
.looking-increased-roi .clutch-rating .stars-rating {
  width: auto!important;
  float: none;
  display: block;
  margin-bottom: 18px;
}
.looking-increased-roi .clutch-rating a {
  font-family: 'Inter-Regular', Sans-Serif;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #207DE9;
}

.no-decoration {
  text-decoration: none !important;
}
.looking-increased-roi .clutch-rating p {
  margin-top: 0px;
  color: #CED4DA;
  margin-bottom: 0px;
}

.sidebar-inner {
  padding-bottom: 50px;
}
.sidebar ul li {
  margin: 0;
}
.sidebar a {
  color: #7E8A8F;
  display: block;
  font-size: 16px;
  font-family: 'Inter-Regular';
  font-weight: 400;
  line-height: 1.5;
  padding: 10px;
  text-decoration: none;
}

nav a {
  text-decoration: none !important;
}
#sidebar-wrapper .reach-us-cta {
  padding: 24px;
  width: 100%;
  height: auto;
  float: left;
  background: #1C2D47;
  border-radius: 4px;
  background-image: url('speak-seo-strategist-bg.png');
  background-position: right;
  background-repeat: no-repeat;
}
#sidebar-wrapper .reach-us-cta .description {
  font-family: 'Inter-Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.0045em;
  color: #FFFFFF;
  margin-bottom: 16px;
  width: auto;
  height: auto;
  float: none;
  display: block;
}

.blue-primary-btn {
  color: white!important;
  border-color: #207DE9;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  background-color: #207DE9;
}
.blue-primary-btn-custom {
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #113448 !important;
  background-color: #113448 !important;
}
#sidebar-wrapper .reach-us-cta .btn {
  padding: 16px;
}

.seo-services-benefits {
  margin-bottom: 200px;
}

.seo-services-benefits .heading-wrapper{
  clear: both;
  float: none;
}
.cta-straight-contact {
  background: right center no-repeat rgb(38, 177, 109);
  border-radius: 4px;
  padding: 24px;
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  overflow-x: hidden;
  background-image: url('cta-seo-services-bg.png');
}
.cta-straight-contact .description {
  max-width: 75%;
  font-family: Inter-Regular, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 33px;
  letter-spacing: -0.0055em;
  color: rgb(255, 255, 255);
  margin-top: 0px;
  margin-bottom: 8px;
  float: left;
}

.cta-straight-contact .phone {
  width: auto;
  height: auto;
  float: left;
  display: block;
}

.cta-straight-contact .phone a {
  font-family: Inter-Black, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: -0.0045em;
  color: rgb(255, 255, 255);
  float: left;
  display: block;
  background-image: url('icon-small-phone-cta.png');
  background-repeat: no-repeat;
  padding-left: 50px;
  line-height: 36px;
}
.testimonials {
  background: linear-gradient(90deg, #1C2D47 63%, #F2F6FC 37%);
  position: relative;
  padding-bottom: 96px;
  padding-top: 96px;
}

.testimonials .testimonial .comment {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: -0.0065em;
  color: #FFFFFF;
  margin-bottom: 64px;
  max-width: 550px;
}
.testimonials .testimonial .title {
  font-family: 'Inter-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 35px;
  letter-spacing: -0.0055em;
  color: #FFFFFF;
  height: auto;
  margin-bottom: 12px;
  display: block;
}
.testimonials .testimonial .business-type {
  text-transform: uppercase;
  color: #FFFFFF;
  float: none;
  clear: both;
  display: block;
  margin-bottom: 40px;
  text-align: left;
}

.testimonials .btn {
  text-align: left;
  height: 56px;
}
.green-primary-btn {
  color: white!important;
  border-color: #207DE9;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  background: #26B16D;
  border-radius: 4px;
}
.arrow-right-white:after {
  background-image: url('right-arrow (1).svg');
  background-repeat: no-repeat;
  margin-left: 10px;
}

.wistia_click_to_play {
  width: 100% !important;
  height: 100% !important;
}
.testimonial-wistia-video-wrapper {
  visibility: hidden;
}
.video-wrapper {
  background: url('WEB-MAINT-NOV.png');
  background-repeat:no-repeat !important;
  background-size:contain !important;
}
@media(min-width: 450px) {
  .testimonials .video-wrapper {
    height: 262px !important;
    margin-right: -75px;
    margin-top: 139px;
  }
  .testimonials {
    padding-top: 33px !important;
  }
}
.testimonials .video-wrapper {
  height: 785px;
  top: 180px;
  right: 74px;
  background-position: center!important;
}

.video-wrapper {
  width: 45%;
  height: auto;
  position: absolute;
  top: 96px;
}
.testimonials .video-wrapper a.simple-play-button {
  top: 40%;
  left: 40%;
  position: absolute;
}
a.simple-play-button {
  width: 110px;
  height: 82px;
  background: rgb(255, 209, 45);
}
.testimonials .video-wrapper a.simple-play-button img {
  position: absolute;
  top: 35%;
  left: 40%;
}
.seo-services-features {
  background: #F2F6FC;
}
.seo-services-features h2 {
  text-align: center;
}


.btn-mcta {
  padding: 20px 54px;
  font-size: 20px;
}
.btn-green {
  background-color: #26B16D;
  color: #fff !important;
  border-color: #26B16D;
}
.btn-mcta {
  padding: 24px 64px;
  font-weight: bold;
  font-size: 21px;
  line-height: 133%;
  text-align: center;
  letter-spacing: -0.008em;
  float: none !important;
}
.seo-services-features .seo-table-features-wrapper {
  width: 100%;
  height: auto;
  float: left;
  overflow-x: hidden;
}

section.seo-services-features .seo-table-features-wrapper table.seo-table-features thead tr, section.seo-services-features .seo-table-features-wrapper table.seo-table-features tbody tr:not(:last-child) {
  border-bottom: 1px solid #D2DCEE;
  border-top: none;
}
.static-table-heading {
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: 'Inter-Regular', sans-serif;
}
section.seo-services-features .seo-table-features-wrapper table.seo-table-features thead tr th {
  padding-top: 32px;
  padding-bottom: 32px;
}
section.seo-services-features .seo-table-features-wrapper table.seo-table-features thead tr th:nth-child(1), section.seo-services-features .seo-table-features-wrapper table.seo-table-features tbody tr td:nth-child(1) {
  background-color: #F2F6FC!important;
}
section.seo-services-features .seo-table-features-wrapper table.seo-table-features thead tr th:nth-child(odd), section.seo-services-features .seo-table-features-wrapper table.seo-table-features tbody tr td:nth-child(odd) {
  background-color: #EAEFF7!important;
  border: none;
}
.seo-services-features .seo-table-features-wrapper table.seo-table-features thead tr th:nth-child(even), section.seo-services-features .seo-table-features-wrapper table.seo-table-features tbody tr td:nth-child(even) {
  background-color: white!important;
  border: none;
}
.seo-services-features .seo-table-features-wrapper table.seo-table-features thead tr th:nth-child(1) span.label {
  color: #374046;
  text-transform: none!important;
  text-align: left;
}

.seo-services-features .seo-table-features-wrapper table.seo-table-features thead tr th span.label {
  font-family: 'Inter-Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: -0.018em;
  color: #083A74;
  width: auto;
  display: block;
  margin: 0 auto;
  text-transform: none;
}
.seo-services-features .seo-table-features-wrapper table.seo-table-features tbody tr th {
  background: #F2F6FC!important;
  padding-right: 24px;
  border: none;
  text-align: left;
}


.seo-services-features .seo-table-features-wrapper table.seo-table-features tbody tr td, section.seo-services-features .seo-table-features-wrapper table.seo-table-features tbody tr th {
  text-transform: none!important;
  font-family: 'Inter-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.0045em;
  color: #374046;
  padding-top: 28px;
  padding-bottom: 28px;
}
.icon-checkmark {
  background-image: url('icon-check.png');
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px auto;
  display: table;
}
.seo-services-features .seo-table-features-wrapper table.seo-table-features tbody tr td {
  padding-left: 24px;
  padding-right: 24px;
}
.seo-services-features .seo-table-features-wrapper table.seo-table-features .need-information-cta {
  width: 100%;
  height: auto;
  float: left;
}
.seo-services-features .seo-table-features-wrapper table.seo-table-features .need-information-cta span.label {
  font-family: 'Inter-Regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px !important;
  line-height: 22px;
  letter-spacing: -0.0045em;
  color: #374046;
}
.seo-services-features .seo-table-features-wrapper table.seo-table-features .need-information-cta a.phone {
  font-family: 'Inter-Black', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: -0.0045em;
  color: #26B16D;
  float: none;
  clear: both;
  display: block;
  background-image: url('icon-small-phone-cta.png');
  background-repeat: no-repeat;
  padding-left: 50px;
  line-height: 36px;
}
.seo-services-features .seo-table-features-wrapper table.seo-table-features .btn-get-started {
  padding: 16px;
  margin: 0 auto;
  float: none;
  border-radius: 4px;
}
