.portfolio-details-section {
  padding-top: 25px;
}
.portfolio-show-main-image {
  width: 100%;
  height: 400px;
}
.portfolio-show-sub-image {
  width: 100%;
  height: 90px;
}
#portfolio .container .headers {
    margin-bottom: 15px;
}

#portfolio .portfolio-filter {
    list-style: none;
    padding: 0;
    margin: 0 0 50px;
    display: inline-block;
}

#portfolio .portfolio-filter > li {
    float: left;
    display: block;
}

#portfolio .portfolio-filter > li a {
    display: block;
    padding: 7px 15px;
    font-family: 'Montserrat', sans-serif;
    color: #64686d;
    position: relative;
}

#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
    background: #113448;
    color: #fff;
}

#portfolio .portfolio-filter > li:first-child a {
    border-radius: 0px 0 0 0px;
}

#portfolio .portfolio-filter > li:last-child a {
}

#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}

#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
    opacity: 0;
    transition: opacity 400ms;
    -webkit-transition: opacity 400ms;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(137, 133, 133, 0.5);
    color: #fff;
    line-height: 1;
    text-align: center;
}

#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
    font-size: 20px;
    line-height: 1;
    color: #fff;
    margin-bottom: 0;
    padding: 10px;
    background-color: rgba(47, 45, 45, 0.5);;
}

#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
    position: absolute;
    top: -18px;
    right: 12px;
    border-radius: 50%;
    background-image: -moz-linear-gradient(90deg, #113448 0%, #2c8cb3 100%);
    background-image: -webkit-linear-gradient(90deg, #113448 0%, #2c8cb3 100%);
    background-image: -ms-linear-gradient(90deg, #113449 0%, #2c8cb3 100%);
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 0 2px #fff;
    -webkit-box-shadow: 0 0 0 2px #fff;
}

#portfolio .portfolio-item:hover .portfolio-info h3 {
    margin-top: 15px;
}

#portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    cursor: pointer;
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.expand-portfolio {
    margin-bottom: 480px;
}

/* New flex grid */
.syftet-flex-row {
    //display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

/* Create four equal columns that sits next to each other */
.portfolio-item {
    width: calc(100%/3);
}

.portfolio-item img {
    max-width: 100%;
    display: block;
    width: 450px;
    height: 207px;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}

.hover-icon--before {
    background-color: #113448;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .portfolio-details-title {
        margin-left: 20px;
    }
  .row-block {
    margin-left: 20px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .portfolio-item {
        flex: 50%;
        max-width: 50%;
    }
  .portfolio-show-main-image {
        width: 90%;
        height: 350px;
  }
  .portfolio-show-sub-image {
        width: 69%;
        height: 57px;
  }
  .caption-container {
    margin-right: 30px !important;
  }
}

.portfolio-details {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 10%);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  width: 70%;
  height: 100%;
}
.portfolio-details_x {
  float: right;
}
.portfolio-details_x a {
  cursor: pointer;
}
.article_body {
  position: relative;
  background-color: #fff;
}
.kaia_page {
  width: 75%;
  margin: 0 auto;
  padding-left: 4px;
  padding-right: 4px;
  max-width: 850px;
}

.case-stidies-categories {
  display: flex;
  width: 100%;
}
.case-stidies-categories ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
}
.case-stidies-categories li {
  padding: 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  color: #828282;
  cursor: pointer;
}
.case-stidies-categories li.active-link-category {
  border-top: 1px solid #113448;
  color: #113448;
  padding-top: 9px
}

