.my-head-purple-block {
  background-color: #8259a4;
}

.my-head-blue-block {
  background-color: #43ace5;
}

.my-head-purple-block, .my-head-blue-block {
  padding: 45px 35px;
  color: #fff;
}
.my-text-blue-block, .my-text-purple-block {
  border: 1px solid #00000000;
}
.my-text-blue-block, .my-text-purple-block {
  padding: 45px 25px;
  border: 1px solid #ebebeb;
}

.my-text-blue-block ul, .my-text-purple-block ul {
  padding-left: 20px;
}

.my-text-purple-block ul li {
  color: #8949bc;
}

.my-text-blue-block ul li {
  color: #43ace5;
}

.my-text-blue-block ul li span, .my-text-purple-block ul li span {
  color: #000;
}

.java-servis .col-md-4:nth-child(2n+1) {
  clear: none;
}
.java-servis .col-md-4:nth-child(3n+1) {
  clear: both;
}
.page-post {
  margin-top: 40px;
}

.page-case, .post-content {
  line-height: 26px;
}
.page-post h2, .page-post h2>span, .page-post h3, .page-post h3>span, .page-post h4, .page-post h4>span {
  font-family: "HelveticaNeueCyr Bold" !important;
  color: #343434 !important;
}
.page-case strong, .page-case b, .page-case h2, .page-case h3, .page-case h4 {
  color: #343434;
  font-size: 20px;
  width: 100%;
  font-family: "Merriweather Bold";
  margin: 20px 0;
  display: inline-block;
}
.page-post h2 {
  font-size: 24pt !important;
}
.page-case p {
  font-family: "HelveticaNeueCyr Light";
  font-size: 18px;
  color: #777;
  line-height: 30px;
  margin-bottom: 20px;
}
.page-case ul, .page-case ol {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: "HelveticaNeueCyr Light";
  font-size: 18px;
  color: #333;
  padding-left: 24px;
  position: relative;
}
.page-case li {
  padding: 3px 0;
}
.page-case ul:not([style]) li:before {
  content: '\f058';
  color: #113448;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  font-family: 'FontAwesome';
  left: 0;
}
.contentPrivacy table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid grey;
  padding: 0;
}
.contentPrivacy table tr td {
  width: 50%;
  border: 1px solid grey;
  padding: 10px 15px;
}
.contentPrivacy.page-case table tr td p, .contentPrivacy.page-case table tr td a {
  margin-bottom: 0;
}

.section-head {
  margin-bottom: 60px;
}
.section-head h4 {
  position: relative;
  padding:0;
  color:#113448;
  line-height: 1;
  letter-spacing:0.3px;
  font-size: 34px;
  font-weight: 700;
  text-align:center;
  text-transform:none;
  margin-bottom:30px;
}
.section-head h4:before {
  content: '';
  width: 60px;
  height: 3px;
  background: #113448;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right:0;
  margin:0 auto;
}
.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color:#2f2f2f
}
p.service_text{
  color:#cccccc !important;
  font-size:16px;
  line-height:28px;
  text-align:center;
}
//.section-head p, p.awesome_line{
//  color:#818181;
//  font-size:16px;
//  line-height:28px;
//  text-align:center;
//}

.extra-text {
  font-size:34px;
  font-weight: 700;
  color:#2f2f2f;
  margin-bottom: 25px;
  position:relative;
  text-transform: none;
}
.extra-text::before {
  content: '';
  width: 60px;
  height: 3px;
  background: #113448;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}
.extra-text span {
  font-weight: 700;
  color:#113448;
}
.item-why-chose-us {
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border:5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}
.item-why-chose-us:hover{
  background:#113448;
  box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}
.item-why-chose-us:hover .item-why-chose-us, .item-why-chose-us:hover span.icon{
  background:#fff;
  border-radius:10px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}
.item-why-chose-us:hover h6, .item-why-chose-us:hover p{
  color:#fff;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
}
.item-why-chose-us .icon {
  font-size: 40px;
  margin-bottom:25px;
  color: #113448;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}
.item-why-chose-us .feature_box_col_one{
  background: rgba(142, 199, 62, 1);
  color: #113448;
}
.item-why-chose-us .feature_box_col_two{
  background:rgba(195, 27, 53, 1);
  color:#113448
}
.item-why-chose-us .feature_box_col_three{
  background:rgba(0, 108, 255, 0.15);
  color:#113448
}
.item-why-chose-us .feature_box_col_four{
  background:rgba(0, 108, 255, 0.15);
  color:#113448
}
.item-why-chose-us .feature_box_col_five{
  background: rgba(142, 199, 62, 1);
  color: #113448;
}
.item-why-chose-us .feature_box_col_six{
  background:rgba(195, 27, 53, 1);
  color:#113448
}
.item-why-chose-us p{
  font-size:18px;
  line-height:26px;
}
.item-why-chose-us h6 {
  margin-bottom:20px;
  color:#2f2f2f;
  font-size: 22px;
}
.mission p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
}
.mission i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #113448;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
}
.mission .small-text {
  margin-left: 10px;
  font-size: 13px;
  color: #666;
}
.skills {
  padding-top:0px;
}
.skills .prog-item {
  margin-bottom: 25px;
}
.skills .prog-item:last-child {
  margin-bottom: 0;
}
.skills .prog-item p {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
  width: 100%;
  height: 10px;
  background: #e0e0e0;
  border-radius:20px;
  position: relative;
}
.skills .prog-item .skills-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #113448;
  width: 10%;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
  content: attr(data-value);
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 10px;
  font-weight:600;
  color: #fff;
  background:rgba(0, 0, 0, 0.9);
  padding: 3px 7px;
  border-radius: 30px;
}


