
.ml-5,
.mx-5 {
  margin-left: 2.5rem !important;
}
.mb-o {
  margin-bottom: 0 !important;
}
.col-picture {
  width: 100%;
}
.tech-image {
  display: flex;
  align-items: center;
}
.margin-auto {
  margin: 6px auto !important;
}
@media (min-width: 786px) {
  .margin-auto-left {
    margin-left: 6px !important;
  }
}
//.size-tech-image {
//  margin-left: 27px;
//  margin-bottom: 20px;
//  width: 150px;
//  height: 150px;
//}
.tech-image {
  width: 170px;
  height: 170px;
  background: #fff;
  border-radius: 50%;
  box-shadow: -1px 3px 6px #838181;
  padding: 40px;
  position: relative;
  cursor: pointer;
  transition: all .45s;
}
.web-image {
  width: 150px;
  height: 150px;
}
//.size-tech-image:before {
//  width: 140px;
//  height: 140px;
//}
.tech-image::before {
  content: '';
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  width: 160px;
  height: 160px;
  border: 2px solid #113448;
  border-radius: 50%;
}
.web-image::before {
  content: '';
  top: 5px;
  left: 6px;
  width: 140px;
  height: 140px;
}
.size-block-career {
  width: 100px !important;
  height: 100px !important;
  margin: 0 auto !important;
}

.size-block-career:before {
  width: 90px !important;
  height: 90px !important;
}

.custom-soft-image {
  width: 120px;
  height: 120px;
}
.custom-soft-image::before {
  content: '';
  top: 5px;
  left: 5px;
  width: 110px;
  height: 110px;
}

.size-block-image-stage svg {
  max-width: 70px;
  height: 74px;
  margin: 5px auto;
}


size-tech-image svg {
  max-width: 70px;
  height: 74px;
  margin: 5px auto;
}
.tech-image img, .tech-image svg {
  max-width: 90px;
  height: 74px;
  margin: 8px auto;
  display: block;
}
svg:not(:root) {
  overflow: hidden;
}

.col-name {
  width: 100%;
  h4 {
    font-size: 23px;
  }
}
.service-tab:hover {
  .tech-image {
    background: #113448;
  }
  .tech-image::after {
    content: '';
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    width: 160px;
    height: 160px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
  }

  .web-image::after {
    content: '';
    top: 5px;
    left: 5px;
    width: 140px;
    height: 140px;
  }
  .custom-soft-image::after {
    content: '';
    top: 5px;
    left: 5px;
    width: 110px;
    height: 110px;
    border: 1px solid #FFFFFF;
  }
  .size-block-career::after {
    width: 90px !important;
    height: 90px !important;
    border: 1px solid #FFFFFF;
  }

}

.rows-block-align-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  justify-content: -webkit-center;
  flex-wrap: wrap;
  flex-wrap: -webkit-wrap;
  flex-direction: row;
}

.custom-software-dev .content-page{
  margin-left: 16px;
  margin-bottom:10px;
  text-align:left;
}
.custom-software-dev.technologies .banner{
  margin-bottom:20px;
}
.technologies_list {
  display: flex;
  align-items: center;
  padding: 40px 10px 60px;
}
.technologies_images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 67%;
}
.right_block img {
  object-fit: contain;
  width: 100%;
  height:100%;
}

.line_break {
  width: 100% !important;
  height: 42px !important;
}

.technologies_images .first_line,
.technologies_images .second_line,
.technologies_images .third_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.left_block {
  width: 70%;
  /* padding-left: 10%; */
}
.technologies_images img , .technologies_images svg{
  width: 100%;
  margin: auto;
}

.technology_page .color {
  background: linear-gradient(90deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.technologies_link {
  display: flex;
  text-align: center;
  margin-top: 60px;
}

.technologies_link a {
  line-height: 36px;
  /* display: inline-block; */
  border: 1px solid #113448;
  width: 173px;
  font-size: 18px;
  height: 50px;
  color: #113448;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}
.technologies_link a:hover {
  background-color: #113448;
  color: white;
}

.first_line div {
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}
.first_line div p {
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}
.technologies_list .left_block h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  color: #343434;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 0 50px !important;
  font-family: "HelveticaNeueCyr Light" !important;
  max-width: 100%;
}
.technologies .post-technology-image-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.technologies .post-technology-image {
  margin: 3%;
  display: flex;
  align-items: center;
}

.what_we .text-center {
  color: black;
  font-size: 36px !important;
  font-family: "HelveticaNeueCyr Light" !important;
}
.right_block {
  display: flex;
  width: 45%;
  justify-content: center;
}
@media (max-width: 340px) {
  .line_break{
    display:none !important;
  }
}
@media (max-width: 620px) {
  .custom-software-dev.technologies .banner{
    margin-bottom:40px;
  }
  .what_we .text-center {
    padding: 0px !important;
    padding-bottom: 15px !important;
    font-size: 22px !important;
    padding-top: 22px !important;
  }
  .what_we .text-header-service {
    margin:0;
  }
  .right_block img {
    max-width:100% !important;
  }
}
@media (max-width: 1024px) {
  .technologies_list {
    padding: 40px 20px 60px;
    position: relative;
  }
  .right_block{
    width:0%;
  }
  .right_block img {
    position: absolute;
    top: 0px;
    right: -135px;
    z-index: -1;
    opacity: 0.15;
    max-width:65%;
  }
  .technologies_images,
  .left_block {
    width: 100%;
  }
  .left_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
.custom-soft-image h3 {
  margin-top: 20px;
  padding: 0 !important;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #343434;
  border: none;
}
.home-how-we-work {
  float: left;
  width: 100%;
}

.home-how-we-work .block-work {
  margin-top: 65px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
.services-dev-work-content {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
}
.left-work-content {
  border-right: 1px dashed #828282;
}

.left-work-content, .right-work-content {
  width: 50%;
  padding-bottom: 60px;
}
.right-work-content {
  padding-left: 60px;
}
.right-work-content {
  max-width: 569px;
  font-weight: 300;
  font-size: 18px;
  line-height: 134.1%;
}
.right-work-content .title-block-work {
  display: inline-block;
  padding: 0 40px 10px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #343434;
  border-bottom: 3px solid #113448;
  margin-bottom: 20px;
}
.services-dev-work-content:nth-child(even) {
  flex-direction: row-reverse;
}
.services-dev-work-content:nth-child(even) .left-work-content {
  border-right: none !important;
}
.services-dev-work-content:nth-child(even) .right-work-content {
  text-align: right;
  padding-right: 60px;
  padding-left: 0;
  border-right: 1px dashed #828282;
}

.left-work-content .we-hire-block-image {
  float: right;
  width: auto !important;
  margin: 0 !important;
}
.left-work-content .block-image-stage {
  display: block !important;
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.services-dev-work-content:nth-child(even) .we-hire-block-image {
  float: left;
  text-align: left;
}
.services-dev-work-content:nth-child(even) .right-work-content .title-block-work {
  padding: 0 0 10px 40px !important;
}
// ror development//
.line {
  font-size: 36px;
  padding-bottom: 40px;
  border-bottom: 4px solid #113448 !important;
  padding: 40px !important;
  max-width: 85%;
  display: table;
  margin: auto;
  margin-bottom: 30px;
}
.content-page {
  margin: 40px 0 50px;
  font-family: "HelveticaNeueCyr Light";
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  border-top: 0;
  margin-top: 0;
  margin-bottom: 90px;
  color: #333;
  padding: 25px 0;
  border-bottom: 0!important;
}
.red-figure {
  display: inline-block;
  width: 0;
  float: left;
}
.red-figure:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 560px;
  border: 2px solid #113448;
  margin-left: 8px;
}
.left-block {
  width: 90%;
  display: inline-block;
}

.str-name {
  display: inline-block;
}
.left-block .str-name:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 10px solid #113448;
  border-radius: 50%;
}
.str-name h3 {
  padding-left: 40px;
  font-family: "HelveticaNeueCyr Bold" !important;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  color: #343434;
}

.str-content {
  display: inline-block;
}
.str-content p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}
.blue-figure {
  display: inline-block;
  width: 0;
  float: left;
}
.blue-figure:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 560px;
  border: 2px solid #0273ff;
  margin-left: 8px;
}
@media (max-width: 992px) {
  .red-figure:before {
    height: 300px;
  }
  .min-980-padding-20 {
    padding: 20px;
  }
}

@media (max-width: 1200px) {
  .red-figure:before {
    height: 550px;
  }
}
@media (max-width: 1000px) {
  .service-tab:nth-child(2) {
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .block-image-stage {
    width: 100px;
    height: 100px;
    padding: 15px;
  }
  .block-image-stage:before {
    width: 90px;
    height: 90px;
  }
  .my-block-image-stage {
    margin: 20px auto;
  }
  .block-image-stage img, .block-image-stage svg {
    max-width: 45px;
    height: 45px;
    margin: 10px auto;
  }
  .text-service p {
    font-size: 18px !important;
  }
}

.right-block {
  width: 90%;
  display: inline-block;
}
@media (max-width: 786px) {
  .right-block .str-name:before, .left-block .str-name:before {
    display: none;
  }
}
.right-block .str-name:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 10px solid #113448;
  border-radius: 50%;
}
.net-development-approach-list ul {
  margin: 50px 0 0 0!important;
}

.net-development-approach-list ul li {
  text-align: left !important;
  padding: 5px;
  padding-left: 40px;
  text-indent: -24px;
}
.net-development-approach-list ul li:before {
  content: "\f046";
  font-family: FontAwesome;
  color: #113448;
  position: relative;
  font-size: 25px;
  top: 3px !important;
  left: -10px;
}


.custom .case-one, .custom .case-two {
  display: flex;
  min-height: 420px;
}
.template-home-page .case-one, .custom-software-dev .case-one, .software-product-dev .case-one, .it-consulting-services .case-one, .dedicated-development-team .case-one {
  background: url('technology/zerodevs-custom-dev-page-case-1.jpg') center/cover no-repeat;
  height: auto;
}

.custom .owl-net-development ul > li, .net-development-company-projects ul > li {
  text-align: left;
  margin-left: 40px;
  list-style-type: square
}
.template-home-page .case-two, .custom-software-dev .case-two, .dedicated-development-team .case-two {
  background: url('technology/zerodevs-custom-dev-page-case-2.jpg') center/cover no-repeat;
  height: auto;
}


ol, ul {
  list-style: none;
}

li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

