@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #f8f6f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f6f3 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a, a:focus, a:active, a:visited, a:hover {
  outline: none !important;
  color: inherit !important;
  background: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
}
button:not(.btn), 
button:not(.btn):focus, 
button:not(.btn):active, 
button:not(.btn):visited, 
button:not(.btn):hover {
  outline: none !important;
  color: inherit !important;
  background: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
}
input[type="button"]:not(.btn),
input[type="submit"]:not(.btn) {
  outline: none !important;
  color: inherit !important;
  background: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
}
